.table {
    padding-top: 30px;
}

.table_filter {
    width: 450px;
}

.label_filter {
    height: 30px;
    float: left;
    display: block;
    margin-top: 15px;
}

.action {
    line-height: 40px;
    width: 15px;
    text-align: center;
    font-size: 17px;
    border-radius: 50px;
    /* float: left; */
    color: #8c90ab;
}

ng-selectize {
    display: inline-block;
    text-align: left;
    width: 350px;
}