<div class="container-fluid ng-scope">
  <div class="container">
    <div class="card">
      <div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
        <ul class="list-unstyle list-inline text-right">
          <li class="list-inline-item">
            <a href="" class="text-gray text-hover display-block padding-10 no-mrg-btm">
              <i class="fa fa-file-pdf-o text-danger pdd-right-5"></i>
              <b>Exportar PDF</b>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="" class="text-gray text-hover display-block padding-10 no-mrg-btm">
              <i class="fa fa-file-excel-o text-success pdd-right-5"></i>
              <b>Exportar Excel</b>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="" class="btn text-gray text-hover display-block padding-10 no-mrg-btm" onclick="window.print();">
              <i class="ti-printer text-info pdd-right-5"></i>
              <b>Imprimir</b>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="pdd-horizon-30">
          <div class="mrg-top-15">
            <div class="inline-block">
              <img class="img-responsive" src="assets/images/logo/bcf.svg" alt="BCF Adminstradora de Bens" height="80">

            </div>
            <div class="pull-right text-right">
              <h2 class="mrg-btm-5">Balancete Analítico</h2>
              <p>Período: Maio/2018</p>
            </div>
          </div>
          <div class="row mrg-top-20">
            <div class="col">
              <address class="mrg-top-10">
                <b class="text-dark">0001 - Dona Niná</b>
                <br>
                <span>Av. Henrique Dumont, 152</span>
                <br>
                <span>Ipanema - Rio de Janeiro - RJ</span>
              </address>
            </div>
          </div>
          <div class="row mrg-top-20">
            <div class="col-md-12">

              <!-- Conta 001 -->
              <table class="table table-hover" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Complemento</th>
                    <th class="text-right">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>
                      <b style="color: #3e5e79;">001 - Condomínio</b>
                    </td>
                    <td class="text-right"></td>
                  </tr>
                  <tr style="background-color: #f6f6f6;">
                    <td></td>
                    <td>Receitas > Ordinárias > Condomínio</td>
                    <td class="text-right"></td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 201</td>
                    <td class="text-right">R$ 3.135,86 C</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 401</td>
                    <td class="text-right">R$ 3.366,86 C</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 501</td>
                    <td class="text-right">R$ 3.597,84 C</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 301</td>
                    <td class="text-right">R$ 3.366,86 C</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 101</td>
                    <td class="text-right">R$ 3.366,86 C</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right text-right">
                    <hr style="margin-top: 0px;">
                    <p>Sub-total: R$ 16.834,28 C</p>
                    <!--<p>vat (10%) : $232 </p>
                    <hr>
                    <h3>
                      <b>Sub-total :</b>
                    </h3>-->
                  </div>
                </div>
              </div>
              <table class="table table-hover" style="margin-bottom: 0px;">
                <tbody>
                  <tr style="background-color: #f6f6f6;">
                    <td></td>
                    <td>Despesas > Pessoal > Folha de Pagamento</td>
                    <td class="text-right"></td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Folha de Pagamento 04/2018 Crédito Conta Corrente</td>
                    <td class="text-right">R$ 3.011,33 D</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right text-right">
                    <hr style="margin-top: 0px;">
                    <p>Sub-total: R$ 3.011,33 D</p>
                    <!--<p>vat (10%) : $232 </p>
                        <hr>
                        <h3>
                          <b>Sub-total :</b>
                        </h3>-->
                  </div>
                </div>
              </div>
              <table class="table table-hover" style="margin-bottom: 0px;">
                <tbody>
                  <tr style="background-color: #f6f6f6;">
                    <td></td>
                    <td>Despesas > Pessoal > Adiantamento de Salário</td>
                    <td class="text-right"></td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Adiant. Salário 05/2018 Crédito Conta Corrente</td>
                    <td class="text-right">R$ 1.028,00 D</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right text-right">
                    <hr style="margin-top: 0px;">
                    <p>Sub-total: R$ 1.028,00 D</p>
                    <!--<p>vat (10%) : $232 </p>
                            <hr>
                            <h3>
                              <b>Sub-total :</b>
                            </h3>-->
                  </div>
                </div>
              </div>
              <table class="table table-hover" style="margin-bottom: 0px;">
                <tbody>
                  <tr style="background-color: #f6f6f6;">
                    <td></td>
                    <td class="text-center">
                      <b style="color: #3e5e79;">Saldo nesta conta</b>
                    </td>
                    <td class="text-right"></td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right text-right">
                    <hr style="margin-top: 0px;">
                    <p>Saldo anterior: R$ 1.028,00 D</p>
                    <p>Créditos nesta conta: R$ 1.028,00 D</p>
                    <p>Débitos nesta conta: R$ 1.028,00 D</p>
                    <hr>
                    <h3>
                      <b>Saldo atual: R$ 1.028,00 D</b>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- / Conta 001 -->


              <!-- Conta 002 -->
              <table class="table table-hover mrg-top-10" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Complemento</th>
                    <th class="text-right">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>
                      <b style="color: #3e5e79;">002 - Fundo de Reserva</b>
                    </td>
                    <td class="text-right"></td>
                  </tr>
                  <tr style="background-color: #f6f6f6;">
                    <td></td>
                    <td>Receitas > Ordinárias > Fundo de Reserva</td>
                    <td class="text-right"></td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 201</td>
                    <td class="text-right">R$ 3.135,86 C</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 401</td>
                    <td class="text-right">R$ 3.366,86 C</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 501</td>
                    <td class="text-right">R$ 3.597,84 C</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 301</td>
                    <td class="text-right">R$ 3.366,86 C</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Condomínio 05/2018 101</td>
                    <td class="text-right">R$ 3.366,86 C</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right text-right">
                    <hr style="margin-top: 0px;">
                    <p>Sub-total: R$ 16.834,28 C</p>
                    <!--<p>vat (10%) : $232 </p>
                        <hr>
                        <h3>
                          <b>Sub-total :</b>
                        </h3>-->
                  </div>
                </div>
              </div>
              <table class="table table-hover" style="margin-bottom: 0px;">
                <tbody>
                  <tr style="background-color: #f6f6f6;">
                    <td></td>
                    <td>Despesas > Pessoal > Folha de Pagamento</td>
                    <td class="text-right"></td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Folha de Pagamento 04/2018 Crédito Conta Corrente</td>
                    <td class="text-right">R$ 3.011,33 D</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right text-right">
                    <hr style="margin-top: 0px;">
                    <p>Sub-total: R$ 3.011,33 D</p>
                    <!--<p>vat (10%) : $232 </p>
                            <hr>
                            <h3>
                              <b>Sub-total :</b>
                            </h3>-->
                  </div>
                </div>
              </div>
              <table class="table table-hover" style="margin-bottom: 0px;">
                <tbody>
                  <tr style="background-color: #f6f6f6;">
                    <td></td>
                    <td>Despesas > Pessoal > Adiantamento de Salário</td>
                    <td class="text-right"></td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Adiant. Salário 05/2018 Crédito Conta Corrente</td>
                    <td class="text-right">R$ 1.028,00 D</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right text-right">
                    <hr style="margin-top: 0px;">
                    <p>Sub-total: R$ 1.028,00 D</p>
                    <!--<p>vat (10%) : $232 </p>
                                <hr>
                                <h3>
                                  <b>Sub-total :</b>
                                </h3>-->
                  </div>
                </div>
              </div>
              <table class="table table-hover" style="margin-bottom: 0px;">
                <tbody>
                  <tr style="background-color: #f6f6f6;">
                    <td></td>
                    <td class="text-center">
                      <b style="color: #3e5e79;">Saldo nesta conta</b>
                    </td>
                    <td class="text-right"></td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right text-right">
                    <hr style="margin-top: 0px;">
                    <p>Saldo anterior: R$ 1.028,00 D</p>
                    <p>Créditos nesta conta: R$ 1.028,00 D</p>
                    <p>Débitos nesta conta: R$ 1.028,00 D</p>
                    <hr>
                    <h3>
                      <b>Saldo atual: R$ 1.028,00 D</b>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- / Conta 002 -->


              <div class="row mrg-top-30">
                <div class="col-md-12">
                  <div class="border top bottom pdd-vertical-20">
                    <p class="text-opacity">
                      <small>In exceptional circumstances, Financial Services can provide an urgent manually processed special cheque.
                        Note, however, that urgent special cheques should be requested only on an emergency basis as manually
                        produced cheques involve duplication of effort and considerable staff resources. Requests need to
                        be supported by a letter explaining the circumstances to justify the special cheque payment.</small>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row mrg-vertical-20">
                <div class="col-md-6">
                  <img class="img-responsive text-opacity mrg-top-5" width="100" src="assets/images/logo/bcfnet.jpg" alt="BCFNet">
                </div>
                <div class="col-md-6 text-right">
                  <small>
                    <b>Tel.:</b> (21) 2509-9002</small>
                  <br>
                  <small>bcfadm@bcfadm.com.br </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
