.table-responsive .subheading {
    background-color:#f6f6f6;
    
}

.table-responsive .subheading td, .table-responsive .subheading td a{
font-weight: bold;
}

.table-responsive .subheading2 {
background: #082050;
}

.subheading3 {
    padding-left: 100px;
}

.table-responsive .subheading2 td, .table-responsive .subheading2 td a  {
    font-weight: bold;
    color: #FFF;
}

.saldo {
    width: 100%;
    display: block;
    clear: both;
    padding: 20px 0;
    font-size: 16px;
    color: #1b2957;
    font-size: 27px;
    font-weight: 500;
}

.saldo .valor {
    color: #0c920c;
    font-weight: 500;
    font-size: 18px;
}

.saldo .valor-negativo {
    color: red;
    font-weight: 500;
    font-size: 18px;
}

.subheading3 {
    text-align: center;
}