<app-balancete name="Cotas em aberto" [loading]="loading" [childData]="data" (periodo)="onChange($event)">
    <!-- Conta 001 -->
    <div class="table-responsive">
        <table class="table table-hover" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th>Unidade</th>
                    <th>Sit. Cobr.</th>
                    <th>Vencimento</th>
                    <th>Recibo</th>
                    <th class="text-right">Valor</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngIf="data.length == 0 && loading == true">
                        <td colspan="10" class="text-center">Não há cotas em aberto no período informado</td>
                    </tr>
                  <tr *ngFor="let balancete of data"
                    [ngClass]="{
                      'subheading2': balancete.Campo1.length == 0 && balancete.Campo2.length == 0 && balancete.Campo3.length != 0 && balancete.Campo4.length == 0  && balancete.Campo5.length != 0
                    }">
                    <td>
                      {{balancete.Campo1}}
                    </td>
                    <td>{{balancete.Campo2}}</td>
                    <td>{{balancete.Campo3}}</td>
                    <td>{{balancete.Campo4}}</td>
                    <td class="text-right">
                      <span *ngIf="balancete.Campo5.length > 5"> R$  </span>
                      {{balancete.Campo5}}
                    </td>
                  </tr>
            </tbody>
        </table>   
  </div>
</app-balancete>