<div class="container-fluid">
    <div class="page-title">
        <h4>Departamento Pessoal</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="page-title">
                    </div>
                    <div class="card-block">
                      <div class="table-overflow">
                            <div id="dt-opt_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="dt-opt_length"><label>Exibir <select name="dt-opt_length" aria-controls="dt-opt" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> resultados</label></div><div id="dt-opt_filter" class="dataTables_filter"><label>Pesquisar:<input type="search" class="" placeholder="" aria-controls="dt-opt"></label></div>
                            <div class="table-responsive">
                              <table id="dt-opt" class="table table-lg table-hover dataTable no-footer" role="grid" aria-describedby="dt-opt_info">
                                  <thead>
                                      <tr role="row">
                                          <th class="sorting">Arquivo</th>
                                          <th class="sorting text-center">Inclusão</th>
                                          <th class="sorting text-center">Expiração</th>                                        
                                          <th class="sorting text-center" style="width: 100px;">Ações</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngIf="datas.length == 0 && loading == false">
                                          <td class="text-center" colspan="4" width="100%">Não há Departamento Pessoal adicionadas no momento.</td>
                                      </tr>
                                      <tr role="row" *ngFor="let data of datas">
                                          <td width="200"><a href="http://www.bcfadm.com.br/bcfnet/{{data.link_arquivo}}" target="_blank">{{data.arvore}}</a></td>
                                          <td width="50" align="center">{{data.data_inclusao}}</td>
                                          <td width="50" align="center">{{data.data_expiracao}}</td>
                                          <td align="center" width="20">
                                              <a href="http://www.bcfadm.com.br/bcfnet/{{data.link_arquivo}}" target="_blank" title="Clique para visualizar">
                                              <i class="ei ei-search action"></i>
                                              </a>
                                          </td>
                                      </tr>
                                  </tbody>
                                </table>
                              </div>
                          </div>
                  </div>    
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid">
    <div class="page-title">
        <h4>Departamento Pessoal</h4>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-12">
          <div class="card">
              <a href="http://www.bcfadm.com.br/bcfnet/htmls/0001BHE.PDF" title="Clique para visualizar o Boletim de Hora Extra" target="_blank">
                <div class="card-title">
                  <i class="ei ei-time"></i>
                </div>
                <div class="card-body">
                  Boletim <br/>de Hora Extra
                </div>
              </a>
          </div>
      </div>
      <div class="col-md-2 col-xs-12">
          <div class="card">
              <a href="http://www.bcfadm.com.br/bcfnet/htmls/0001EDR.PDF" title="Clique para visualizar a Escala de Revezamento" target="_blank">
                <div class="card-title">
                  <i class="ei ei-deal"></i>
                </div>
                <div class="card-body">
                  Escala <br/>de Revezamento
                </div>
              </a>
          </div>
      </div>
      <div class="col-md-2 col-xs-12">
          <div class="card">
              <a href="http://www.bcfadm.com.br/bcfnet/htmls/0001FCD.PDF" title="Clique para visualizar a Ficha Cadastral" target="_blank">
                <div class="card-title">
                  <i class="ei ei-file-edit"></i>
                </div>
                <div class="card-body">
                  Ficha <br>Cadastral
                </div>
              </a>
          </div>
      </div>
      <div class="col-md-2 col-xs-12">
          <div class="card">
              <a href="http://www.bcfadm.com.br/bcfnet/htmls/0001FPG.PDF" title="Clique para visualizar a Folha de Pagamento" target="_blank">
                <div class="card-title">
                  <i class="ei ei-open-book"></i>
                </div>
                <div class="card-body">
                  Folha <br/>de Pagamento
                </div>
              </a>
          </div>
      </div>
      <div class="col-md-2 col-xs-12">
          <div class="card">
              <a href="http://www.bcfadm.com.br/bcfnet/htmls/0001QHT.PDF" title="Clique para visualizar o Quadro de Horário" target="_blank">
                <div class="card-title">
                  <i class="ei ei-clipboard"></i>
                </div>
                <div class="card-body">
                  Quadro <br/>de Horários
                </div>
              </a>
          </div>
      </div>
    </div>    
</div>-->
      