.container-fluid {
    min-height: 715px;
}

.card-title > i {
    font-size: 30px;
    color: #192957;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    display: block;
    padding-bottom: 0;
}