<div class="container-fluid">
    <div class="page-title">
        <h4>Dúvidas Frequentes</h4>
    </div>
    <div class="row">
        <div class="col-md-4 d-none d-sm-block">
            <div #spacer></div>
            <div stickyThing [spacer]="spacer" marginTop="80">
                <a href="#ask-1" scrollTo class="card mrg-btm-15 scroll-to">
                    <div class="card-block padding-25">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                        <i class="ti-help-alt text-primary font-size-30"></i>
                                    </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Perguntas Frequentes</b>
                                    <p class="no-mrg-btm ">Novo? Comece com o básico</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card" id="ask-1">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                    <i class="ti-help-alt text-primary font-size-30"></i>
                                </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Perguntas Frequentes</b>
                                <p class="no-mrg-btm ">
                                    Abaixo seguem algumas dúvidas e seus esclarecimentos, caso a sua não conste na lista abaixo, favor entrar em contato conosco.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-30">
                        <div id="accordion-ask-1" class="accordion border-less" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-1">
                                                <span>O que é a Convenção do Condomínio?</span>
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-1" class="collapse panel-collapse show">
                                    <div class="panel-body">
                                        <p>A Convenção do Condomínio é o Instrumento que constitui a copropriedade (Direito Real). Trata-se de um documento oficial que estabelece as normas principais, as quais são aprovadas pelos condôminos quando da entrega e instalação do empreendimento. A Convenção tem caráter estatutário e, por tal motivo, alcança não só os seus condôminos, mas também todos os que ingressarem nos limites do condomínio, conforme estabelece o art. 1.333, caput, do novo Código Civil).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-2">
                                                <span>O que é o Regulamento Interno do Condomínio?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-2" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                                O Regulamento Interno disciplina a vida social dos moradores. Ou seja, tem por objetivo regular as relações comportamentais dentro do Condomínio. Assim como a Convenção, o Regulamento Interno também deve ser aprovado em Assembleia específica para que tenha força normativa para todos do Condomínio, <span class="text-danger">respeitando o critério de aprovação quando previsto na convenção, e nos casos de omissão o critério estabelecido em lei</span>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-3">
                                                <span>A Convenção e o Regulamento devem ser registrados?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-3" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>O registro da Convenção e do Regulamento Interno no Registro de Imóveis é necessário apenas para torná-los válidos perante terceiros, uma vez que a Convenção de Condomínio aprovada, ainda que sem registro, é eficaz para regular as relações apenas entre os seus condôminos.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-4">
                                                <span>No caso de imóvel alugado, quem responde pelas Despesas Ordinárias e Extraordinárias?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-4" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>As despesas ordinárias são de responsabilidade do inquilino. Por sua vez, as extraordinárias são de responsabilidade do condômino locador (artigos. 22 e 23 da Lei nº 8.245/91).
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-5">
                                                <span>Qual a finalidade do Fundo de Reserva?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-5" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            <span class="text-danger">O fundo de reserva, como o próprio nome indica, é um fundo diferenciado do caixa do condomínio e sua finalidade é garantir que, em meio a uma circunstância eventual e emergencial, o condomínio honrará com o pagamento de despesas imprevistas e inadiáveis</span>. Mesmo que o valor não seja utilizado temporariamente, o valor existente no Fundo de Reserva não pode ser distribuído aos condôminos, nem restituído proporcionalmente àquele que alienar sua unidade autônoma. <span class="text-danger">Vale ressaltar que não tem previsão no Código Civil. Desta forma, a sua existência, a forma de contribuição e demais particularidades dependerão de expressa previsão da Convenção do Condomínio nos termos do (art. 1.334, I, do Código Civil)</span>. 
                                        </p>    
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-6">
                                                <span>O boleto de condomínio pode ser protestado?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-6" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                                A resposta é SIM. Em 22/07/2008 foi publicada a Lei Estadual nº 13.160, que deu nova redação aos itens nºs. 7 e 8 das Notas Explicativas da Tabela IV – Dos Tabelionatos de Protesto de Títulos – da Lei nº 11.331, de 26 de dezembro de 2002, e tornou obrigatória a recepção por parte dos Tabelionatos, para protesto, dos créditos do condomínio e dos créditos decorrentes do contrato de locação. <span class="text-danger">Essa lei é de São Paulo, a lei do Rio de Janeiro que regulamentava isso, foi declarada inconstitucional. O tribunal do Rio ainda é muito conservador com relação ao protesto de cota condominial, sendo assim, sugiro que o antes de efetuar o protesto consulte um advogado</span>. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-7">
                                                <span>É possível colocar o número da unidade inadimplente no demonstrativo financeiro do condomínio?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-7" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                                A resposta é SIM. Todavia, as informações devem ficar restritas aos condôminos, seja por meio documental ou mesmo pelo Site do Condomínio ou da Administradora. Isto porque, os condôminos que pagam pontualmente têm direito de saber quais e quantos são os condôminos inadimplentes. É um direito dos Condôminos adimplentes e um dever do Síndico essa informação.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-8">
                                                <span>O Síndico do Condomínio pode impedir que o condômino inadimplente alugue seu apartamento?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-8" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                                A resposta é NÃO. Além das penas pecuniárias previstas nos arts. 1.336, § 1°, e 1.337, caput, do novo Código Civil, e da restrição prevista no art. 1.335, III, do mesmo diploma, nenhuma outra que importe em privação de direitos condominiais pode ser estabelecida em Convenção ou aplicada pelo condomínio ao inadimplente. Isto porque, a imposição de restrições poderá ser interpretada como cerceamento do direito de propriedade e prática do crime de exercício arbitrário das próprias razões (art. 345 do Código Penal), o que deverá ser evitado.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-9">
                                                <span>Estou com cotas condominiais atrasadas, posso participar e votar nas assembleias?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-9" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                                Pode assistir às assembleias, porem não poderá participar, votar e/ou ser votado, salvo quando a lei exigir para o assunto unanimidade de condôminos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-10">
                                                <span>Não recebi a cota condominial do mês, como devo proceder?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-10" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            Deverá solicitar junto ao site da administradora uma segunda via da cota condominial.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-11">
                                                <span>Vou vender o imóvel e me solicitaram uma carta de quitação, como solicitar a administradora? Quanto tempo demora?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-11" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>Para obter a carta de quitação, a unidade solicitante deverá estar em dia com o pagamento das cotas condominiais e solicitar a administradora por e-mail e/ou por telefone, que emitirá a certidão quando não houver óbice para tal. O prazo médio para a elaboração da referida certidão é de até 2 dias úteis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-12">
                                                <span>Comprei um apartamento no condomínio e gostaria de mudar a titularidade, como faço?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-12" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                                O proprietário deverá apresentar junto à administradora, original e cópia da certidão de ônus reais, emitida pelo Cartório de Registro de Imóveis (RGI), com validade de 30 dias.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-14">
                                                <span>Preciso trocar o endereço de correspondência, como devo fazer?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-14" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>Deverá solicitar por escrito, apresentando à administradora o novo endereço (completo).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-15">
                                                <span>Quero pagar minha cota condominial, onde devo pagar?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-15" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>Em até 30 dias após o vencimento, o pagamento poderá ser efetuado mediante a apresentação do recibo em qualquer canal das agencias e estabelecimentos que compõe a rede bancária ou na administradora.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-16">
                                                <span>Recebi uma carta de cobrança da administradora, o que devo fazer?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-16" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>Deverá entrar em contato com o departamento de cobrança e/ou condomínio da administradora, no qual obterá o(s) mês(es) e valor(es) da cota condominial em aberto para pagamento.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-17">
                                                <span>O síndico resolve tudo no Condomínio?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-17" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>Não, pois existem assuntos que devem ser tratados, discutidos e aprovados em assembleia, porém todo e qualquer assunto de interesse do condomínio, deve ser levado ao seu conhecimento, pois o mesmo é o representante da coletividade, eleito em uma assembleia.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-18">
                                                <span>Qual o horário de silencio e o que devo fazer se meu vizinho insiste em fazer barulho em excesso, descumprindo a lei?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-18" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>O horário de silêncio é de 22h às 07h, conforme Lei municipal 11.501. O primeiro passo é chamar o síndico e registrar no livro de ocorrências. Com isso, o condômino barulhento estará sujeito à advertência e multa. Se não resolver, poderá notificar judicialmente o vizinho e até mesmo ingressar com medida judicial, se o problema persistir. Vale lembrar, no entanto, que a convivência em um condomínio deve se pautar pelo bom senso e respeito ao direito alheio.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-1" href="#collapse-ask-19">
                                                <span>O locatário e/ou morador não proprietário, pode participar das assembleias?</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-19" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>Poderá participar das assembleias o locatário e/ou morador não proprietário, porém só poderá votar e/ou ser votado, se o mesmo dispuser de uma procuração revestida de todas as formalidades legais, ou possuir contrato de locação escrito e a votação versar sobre matérias permitida ao locatário.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="card" id="ask-2">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                    <i class="ti-money text-success font-size-30"></i>
                                </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Buy & Sell</b>
                                <p class="no-mrg-btm">Know more about Buy & Sell</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-30">
                        <div id="accordion-ask-2" class="accordion border-less" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-2" href="#collapse-ask-4">
                                                <span>Lando Calrissian</span>
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-4" class="collapse panel-collapse show">
                                    <div class="panel-body">
                                        <p>
                                            Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard this ship! And no transmissions were made.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-2" href="#collapse-ask-5">
                                                <span>Grand Moff Tarkin</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-5" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much easier. What makes you think there are settlements over there? Don't get technical with me. What mission? What are you talking about?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-2" href="#collapse-ask-6">
                                                <span>Mon Calamari </span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-6" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi. You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi... I think she was a passenger on our last voyage.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="ask-3">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                    <i class="ti-comments-smiley text-info font-size-30"></i>
                                </span>
                            <div class="info">
                                <b class="text-dark font-size-22">About Services</b>
                                <p class="no-mrg-btm">Know more about our features</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-30">
                        <div id="accordion-ask-3" class="accordion border-less" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-3" href="#collapse-ask-7">
                                                <span>Lando Calrissian</span>
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-7" class="collapse panel-collapse show">
                                    <div class="panel-body">
                                        <p>
                                            Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard this ship! And no transmissions were made.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-3" href="#collapse-ask-8">
                                                <span>Grand Moff Tarkin</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-8" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much easier. What makes you think there are settlements over there? Don't get technical with me. What mission? What are you talking about?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-3" href="#collapse-ask-9">
                                                <span>Mon Calamari </span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-9" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi. You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi... I think she was a passenger on our last voyage.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="ask-4">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                    <i class="ti-shield text-warning font-size-30"></i>
                                </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Privacy & Policy</b>
                                <p class="no-mrg-btm">We take our security strict</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-30">
                        <div id="accordion-ask-4" class="accordion border-less" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-4" href="#collapse-ask-10">
                                                <span>Lando Calrissian</span>
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-10" class="collapse panel-collapse show">
                                    <div class="panel-body">
                                        <p>
                                            Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard this ship! And no transmissions were made.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-4" href="#collapse-ask-11">
                                                <span>Grand Moff Tarkin</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-11" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much easier. What makes you think there are settlements over there? Don't get technical with me. What mission? What are you talking about?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-4" href="#collapse-ask-12">
                                                <span>Mon Calamari </span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-12" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi. You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi... I think she was a passenger on our last voyage.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="ask-5">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                    <i class="ti-truck text-danger font-size-30"></i>
                                </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Shipping</b>
                                <p class="no-mrg-btm">Know more about shipping</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-30">
                        <div id="accordion-ask-5" class="accordion border-less" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-ask-5" href="#collapse-ask-13">
                                                <span>Lando Calrissian</span>
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-13" class="collapse panel-collapse show">
                                    <div class="panel-body">
                                        <p>
                                            Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard this ship! And no transmissions were made.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-5" href="#collapse-ask-14">
                                                <span>Grand Moff Tarkin</span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-14" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much easier. What makes you think there are settlements over there? Don't get technical with me. What mission? What are you talking about?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-ask-5" href="#collapse-ask-15">
                                                <span>Mon Calamari </span> 
                                                <i class="icon ti-arrow-circle-down"></i> 
                                            </a>
                                        </h4>
                                </div>
                                <div id="collapse-ask-15" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <p>
                                            Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi. You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi... I think she was a passenger on our last voyage.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>