<div class="container-fluid">
  <div class="social">
    <div class="social-cover card">
      <div class="cover-img overlay-dark bg" style="background-image: url('https://images.pexels.com/photos/144632/pexels-photo-144632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        <div class="cover-content">
          <div class="text-center border bottom border-hide-sm pdd-horizon-30 pdd-btm-10">
            <h1 class="no-mrg-btm">{{ unidade?.NomeCliente | titlecase }}</h1>
            <p style="margin-bottom: 0px;">{{ unidade?.EnderecoCondominio | titlecase }}</p>
            <p style="margin-bottom: 0px;">Total de Unidades: {{ unidades?.length }}</p>
            <p>Síndico(a): {{ unidade?.NomeSindico | titlecase }}</p>
          </div>
          <div class="row mrg-top-15">
            <div class="col-md-6 border right border-hide-sm">
              <div class="text-center">
                <h3 class="no-mrg">{{ this.utils.getToken() }}</h3>
                <span>Login</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="pdd-horizon-15">
                <div class="text-center">
                  <h3 class="no-mrg">{{ unidade?.Senha }}</h3>
                  <span>Senha</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card" #relatorio>
        <div class="card-block">
          <div class="pdd-vertical-5 pdd-horizon-10 mb-2 border bottom print-invisible clearfix">
            <ul class="list-unstyle list-inline text-right mb-3 float-right">
                <li class="list-inline-item">
                    <a (click)="exportAsPDF()" class="hover text-gray text-hover display-block padding-10 no-mrg-btm">
                        <i class="fa fa-file-pdf-o text-danger pdd-right-5"></i>
                        <b>Exportar PDF</b>
                    </a>
                </li>
                <li *ngIf="this.permissionService.isSindico()" class="list-inline-item">
                    <a (click)="exportAsCSV()" class="text-gray text-hover display-block padding-10 no-mrg-btm hover">
                        <i class="fa fa-file-text-o text-success pdd-right-5"></i>
                        <b>Exportar CSV</b>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="hover btn text-gray text-hover display-block padding-10 no-mrg-btm" onclick="window.print();">
                        <i class="ti-printer text-info pdd-right-5"></i>
                        <b>Imprimir</b>
                    </a>
                </li>
            </ul>
          </div>
          <div class="table-overflow">
            <div id="dt-opt_wrapper" class="dataTables_wrapper no-footer  min-height">
              <table id="dt-opt" class="table table-lg table-hover dataTable no-footer" role="grid" aria-describedby="dt-opt_info" datatable [dtOptions]="dtOptions"  *ngIf="unidades.length > 0 && loading == false">
                <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending"
                      style="width: 89px;">Unidade</th>
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending"
                      style="width: 232px;">Nome</th>
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Bill Code: activate to sort column ascending"
                      style="width: 174px;">Login</th>
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending"
                      style="width: 123px;">Senha</th>
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Amount: activate to sort column ascending"
                      style="width: 107px;">E-mail</th>
                  </tr>
                </thead>
                <tbody>

                  <tr role="row" class="odd" *ngFor="let unidade of pagedItems">
                    <td>
                      {{ unidade.Complemento_Unidade | titlecase }}
                    </td>
                    <td>
                      {{ unidade.Nome_do_Cliente | titlecase }}
                    </td>
                    <td>
                      {{ unidade.LoginUnidade }}
                    </td>
                    <td>
                      <span>
                        {{ unidade.SenhaUnidade }}
                      </span>
                    </td>
                    <td>
                      {{ unidade.e_MailCondomino}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
