<div class="container-fluid">
    <div class="page-title">
        <h4>Meu Perfil</h4>
    </div>
    <div class="row">
        <div class="col-md-4 d-none d-sm-block">
            <div #spacer></div>
            <div stickyThing [spacer]="spacer" marginTop="80">
                <a href="#ask-1" scrollTo class="card mrg-btm-15 scroll-to">
                    <div class="card-block padding-25">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-help-alt text-primary font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Informações Pessoais</b>
                                    <p class="no-mrg-btm ">Nome, Telefone e etc.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
                <a href="#ask-5" scrollTo class="card mrg-btm-15 scroll-to">
                    <div class="card-block padding-25">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-truck text-danger font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Endereço</b>
                                    <p class="no-mrg-btm">Alteração no endereço</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
                <a href="#ask-2" scrollTo class="card mrg-btm-15 scroll-to"  *ngIf="!this.permissionService.isProprietario()">
                    <div class="card-block padding-25">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-money text-success font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Formas de Pagamento</b>
                                    <p class="no-mrg-btm">Escolha a melhor forma de pagamento que lhe convir</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <form [formGroup]="dados_perfil_form">
                <div class="card" id="ask-1">
                    <div class="card-block">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                        <i class="ti-help-alt text-primary font-size-30"></i>
                                    </span>
                                <div class="info">
                                    <b class="text-dark font-size-22">Informações Gerais</b>
                                    <p class="no-mrg-btm">Mantenha os seus dados pessoais atualizados</p>
                                </div>
                            </li>
                        </ul>
                        <div class="mrg-top-30">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="mrg-top-10 text-dark"> <b>Nome </b>  <span class="text-danger">*</span></p>
                                                <input type="text" class="form-control" formControlName="NomeCliente" required>
                                            </div>
                                        </div>
                                        <hr>
                                        <!--<div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>Documento</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" value="">
                                            </div>
                                        </div>
                                        <hr>-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="mrg-top-10 text-dark"> <b>CPF ou CNPJ </b>  <span class="text-danger">*</span></p>
                                                <input type="text" class="form-control" formControlName="CPF_CNPJ" required [attr.disabled]="this.dados_perfil_form.value.CPF_CNPJ">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="mrg-top-10 text-dark"> <b>Email</b></p>
                                                <input type="email" class="form-control" formControlName="E_Mail">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <p class="mrg-top-10 text-dark"> <b>Telefone</b></p>
                                                <input type="text" class="form-control" formControlName="Telefone" placeholder="(00) 0000-0000" mask="(00) 0000-0000">
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <p class="mrg-top-10 text-dark"> <b>Celular</b></p>
                                                <input type="text" class="form-control" formControlName="Celular" placeholder="(00) 00000-0000" mask="(00) 00000-0000">
                                            </div>
                                        </div>
                                        <hr>
                                        <!--<div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>Foto</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label for="img-upload" class="pointer">
                                                        <img src="assets/images/no_picture.png" width="117" alt="">
                                                        <span class="btn btn-default display-block no-mrg-btm">Escolher arquivo</span>
                                                        <input class="d-none" type="file" name="uploadedimages0" multiple="" id="img-upload">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>-->
                                    </div>
                                    <div class="card-footer border top">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-primary" (click)="onSubmit()">Atualizar Dados</button>
                                        </div>
                                    </div>
                                </div>
                            
                            <!--<div class="card">
                                <div class="card-heading border bottom">
                                    <h4 class="card-title">Autenticação</h4>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>Senha</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="password" class="form-control" value="123456789">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>Confirmar Senha</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="password" class="form-control" value="123456789">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer border top">
                                    <div class="text-right">
                                        <a href="" class="btn btn-primary">Atualizar Dados</a>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="card" id="ask-5">
                    <div class="card-block">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                            <i class="ti-truck text-danger font-size-30"></i>
                                        </span>
                                <div class="info">
                                    <b class="text-dark font-size-22">Endereço</b>
                                    <p class="no-mrg-btm">Mantenha os seus dados de endereço atualizados</p>
                                </div>
                            </li>
                        </ul>
                        <div class="mrg-top-30">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mrg-top-10 text-dark"> <b>CEP</b></p>
                                                <input type="text" class="form-control" formControlName="CEP" placeholder="00000-000" mask="00000-000">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mrg-top-10 text-dark"> <b>Endereço</b></p>
                                                <input type="text" class="form-control"  formControlName="Enderecos">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <p class="mrg-top-10 text-dark"> <b>Estado</b></p>
                                                <select class="form-control" formControlName="Estado">
                                                    <option value="">Selecione</option>
                                                    <option value="AC">Acre</option>
                                                    <option value="AL">Alagoas</option>
                                                    <option value="AP">Amapá</option>
                                                    <option value="AM">Amazonas</option>
                                                    <option value="BA">Bahia</option>
                                                    <option value="CE">Ceará</option>
                                                    <option value="DF">Distrito Federal</option>
                                                    <option value="ES">Espirito Santo</option>
                                                    <option value="GO">Goiás</option>
                                                    <option value="MA">Maranhão</option>
                                                    <option value="MS">Mato Grosso do Sul</option>
                                                    <option value="MT">Mato Grosso</option>
                                                    <option value="MG">Minas Gerais</option>
                                                    <option value="PA">Pará</option>
                                                    <option value="PB">Paraíba</option>
                                                    <option value="PR">Paraná</option>
                                                    <option value="PE">Pernambuco</option>
                                                    <option value="PI">Piauí</option>
                                                    <option value="RJ">Rio de Janeiro</option>
                                                    <option value="RN">Rio Grande do Norte</option>
                                                    <option value="RS">Rio Grande do Sul</option>
                                                    <option value="RO">Rondônia</option>
                                                    <option value="RR">Roraima</option>
                                                    <option value="SC">Santa Catarina</option>
                                                    <option value="SP">São Paulo</option>
                                                    <option value="SE">Sergipe</option>
                                                    <option value="TO">Tocantins</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <p class="mrg-top-10 text-dark"> <b>Bairro</b></p>
                                                <input type="text" class="form-control"  formControlName="Bairro">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mrg-top-10 text-dark"> <b>Cidade</b></p>
                                                <input type="text" class="form-control" formControlName="Cidade">
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="card-footer">
                                    <div class="form-group text-right">
                                            <button type="button" class="btn btn-primary" (click)="onSubmit()">Atualizar Endereço</button>
                                    </div>
                            </div>
                    </div>
                </div>
            </form>        
            <form [formGroup]="formas_pagamento_form" *ngIf="!this.permissionService.isProprietario()">
                <div class="card" id="ask-2">
                    <div class="card-block">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-money text-success font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-22">Forma de Pagamento</b>
                                    <p class="no-mrg-btm">Escolha a melhor forma de pagamento que lhe convir</p>
                                </div>
                            </li>
                        </ul>
                        <div class="mrg-top-30">
                            <div id="accordion-ask-2" class="accordion border-less" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-body" style="padding: 10px;">
                                        <p>
                                            <b>Sua forma de pagamento atual é: <span class="label-light-blue">BOLETO</span></b>
                                        </p>
                                        <p>Aproveite para cadastrar o pagamento de sua fatura em Débito em Conta Corrente. É fácil, prático e rápido, basta informar os dados bancários abaixo e clicar em "AUTORIZAR".</p>
                                        <hr>
                                        <h4>Alteração de pagamento para débito em Conta Corrente</h4>
                                        <p>Preencha os campos abaixo com seus dados bancários.
                                        <br>
                                        <b><span class="text-danger">*</span> Campos obrigatórios</b></p>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <p class="mrg-top-10 text-dark"> <b>Bancos Conveniados <span class="text-danger">*</span></b></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="form-control" formControlName="Banco_Digito" required>
                                                        <option value="">Selecione</option>
                                                        <option value="237">237 - Bradesco</option>
                                                        <option value="341">341 - Itaú</option>
                                                        <option value="033">033 - Santander</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6 col-xs-6">
                                                    <p class="mrg-top-10 text-dark"> <b>Agência <span class="text-danger">*</span></b></p>
                                                    <input type="text" class="form-control" formControlName="Agencia" mask="000000" required>
                                                </div>
                                                <div class="col-lg-6 col-xs-6">
                                                    <p class="mrg-top-10 text-dark"> <b>Dígito <span class="text-danger">*</span></b></p>
                                                    <input type="text" class="form-control" style="width: 50%" mask="000" formControlName="Digito_Agencia" required>
                                                </div>
                                                <div class="col-lg-6 col-xs-6">
                                                    <p class="mrg-top-10 text-dark"> <b>Conta Corrente <span class="text-danger">*</span></b></p>
                                                    <input type="text" class="form-control" mask="000000000"  formControlName="Conta">
                                                </div>
                                                <div class="col-lg-6 col-xs-6">
                                                    <p class="mrg-top-10 text-dark"> <b>Dígito <span class="text-danger">*</span></b></p>
                                                    <input type="text" class="form-control" mask="000"  formControlName="Digito_Conta" style="width: 50%">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <p>
                                            <br><b>Atenção:</b>
                                            <br> Por determinação do Banco do Brasil, o cadastramento de débito automático somente efetivado com confirmação pelo titular através de sua agência ou canais de atendimento.
                                        </p>
                                        <p>
                                            Por determinação do Banco Itaú, o cadastramento de débito automatico somente será possível se o Proprietário for o mesmo titular da Conta Corrente.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group form-inline">
                                            <p (click)="onAcceptTerms()" class="hover">
                                                <input type="checkbox" class="accept" [ngClass]="{'required': accept === false}" [checked]="accept" (click)="onAcceptTerms()">
                                                Como correntista, AUTORIZO o débito automático do boleto mensal da BCF Administradora em minha conta corrente. Declaro estar ciente de que o banco ficará isento de qualquer responsabilidade caso não haja saldo suficiente no dia do vencimento.</p>
                                        </div>
                                        <hr>
                                        <div class="form-group text-right">
                                            <input type="submit" class="btn btn-default btn-primary" [disabled]="accept === false" value="Atualizar Pagamento" (click)="onSubmitFormasPagamento()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>