.btn:disabled {
  background-color: #CCC;
  border: 1px solid #CCC;
}

.forgot-password {
  margin-top: 4px;
}

.hover {
  cursor: pointer;
}

.modal {
  .modal-content {
    background: rgba(43, 76, 121, 0.9);
  }
}