<div class="authentication">
  <div class="sign-in">
      <div class="row no-mrg-horizon">
          <div class="col-md-8 no-pdd-horizon d-none d-md-block">
              <div class="full-height bg" style="background-image: url('assets/images/login/1.jpg')">
              </div>
          </div>
          <div class="col-md-4 no-pdd-horizon">
              <div class="full-height bg-white height-100">
                  <div class="vertical-align full-height pdd-horizon-70">
                      <div class="table-cell">
                          <div class="pdd-horizon-15">
                              <img src="assets/images/logo/bcf.svg" alt="BCF Administradora de Bens" width="150" class="mrg-btm-50">
                              <h2>Entrar</h2>
                              <p class="mrg-btm-15 font-size-13">Digite seu login e senha para acessar</p>
                              <form novalidate [formGroup]="loginform" (ngSubmit)="onSubmit()">
                                  <div class="form-group">
                                      <input type="text" class="form-control" [ngClass]="{'error': isFieldValid('login')}" placeholder="Login" formControlName="login" required>
                                      <div class="form-control-feedback" *ngIf="isFieldValid('login')">
                                          <label id="state-error" class="error" for="state">O campo login é obrigatório.</label>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <input type="password" class="form-control" [ngClass]="{'error': isFieldValid('password')}" placeholder="Senha" formControlName="password" required>
                                      <div class="form-control-feedback" *ngIf="isFieldValid('password')">
                                          <label id="state-error" class="error" for="state">O campo senha é obrigatório.</label>
                                      </div>
                                  </div>
                                  <div class="checkbox font-size-12 inline-block no-mrg-vertical no-pdd-vertical">
                                      <input id="agreement" name="agreement" type="checkbox">
                                      <label for="agreement">Mantenha-me logado</label>
                                  </div>
                                  <div class="pull-right font-size-12 inline-block forgot-password">
                                      <a [routerLink]="['/login/esqueci-minha-senha']">Esqueceu sua senha?</a>
                                  </div>
                                  <div class="form-group">
                                      <button type="submit" ui-sref="index.main" class="btn btn-info mrg-top-20 clearfix" [disabled]="!loginform.valid">Entrar</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<button data-toggle="modal" data-target="#modal-fs" #trigger class="btn btn-sm btn-primary hide modal" [hidden]="true">Trigger</button>
<div class="modal fade modal-fs" id="modal-fs">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body height-100">
              <div class="vertical-align text-center">
                  <div class="table-cell">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-6 mr-auto ml-auto hover">
                                  <div class="pdd-horizon-30 pdd-btm-50" (click)="onModalClose()">
                                    <a  href="/">
                                        <img class="img-responsive mrg-horizon-auto" src="assets/images/modal/condominio.png" alt="">
                                    </a>
                                      <h4 class="mrg-top-20">Condomínios</h4>
                                  </div>
                              </div>
                              <div class="col-md-6 mr-auto ml-auto hover" (click)="onModalClose()">
                                <div class="pdd-horizon-30 pdd-btm-50">
                                    <a  href="/">
                                        <img class="img-responsive mrg-horizon-auto" src="assets/images/modal/locacao.png" alt="">
                                    </a>
                                    <h4 class="mrg-top-20">Locações</h4>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <a class="modal-close" href="" data-dismiss="modal">
                  <i class="ti-close"></i>
              </a>
          </div>
      </div>
  </div>
</div>