.container {
     max-width: 100%;
}

.table {
     margin-bottom: 0px; 
     min-height: 600px;

     .table-row {
          /*display: table-row; */
          width: 100%;
          padding: 0;
     }
}

.heading {
     background-color: #192957;
     color: #fff;

     td {
          width: 13.33%;
     }
}

.heading2 {
     color: rgb(136, 141, 168);
     background: #f6f6f6 !important;
     text-align: left;
     display: block;
     width: 100%;

     td {
          display: block;
     }
}

.heading3 {
     color: #ffffff;
     font-weight: bold;
     text-align: right;
}

.table-grid {
    display: grid;
    width: 100%;
    background: #192a57;
    font-size: 12px;

    td {
         border: 0;
    }
}