<app-balancete name="Demonstrativo no Período" [loading]="loading" [childData]="data">
    <!-- Conta 001 -->
    <div class="table-responsive">
      <table class="table table-hover" id="table" #table>
        <tbody>
          <tr *ngFor="let balancete of data">
            <td class="table-row">
              <table class="table-grid">
                  <tr class="heading2">
                      <td colspan="8" class="no-border">
                          <b>{{balancete.Campo1}}</b>
                          <b *ngIf='balancete.Campo1 != "" && balancete.MesAno01 == "" && balancete.Valor01 != ""'>: R${{balancete.Valor01}}</b>
                      </td>
                  </tr>
                  <tr *ngIf='balancete.MesAno01 != "" && balancete.Valor01 != "" && 
                  balancete.MesAno02 != "" && balancete.Valor02 != "" && 
                  balancete.MesAno03 != "" && balancete.Valor03 != "" && 
                  balancete.MesAno04 != "" && balancete.Valor04 != ""'  class="heading">
                      <td>{{balancete.MesAno01}}</td>
                      <td>{{balancete.Valor01 | currency: 'BRL'}}</td>
                      <td>{{balancete.MesAno02}}</td>
                      <td>{{balancete.Valor02 | currency: 'BRL'}}</td>
                      <td>{{balancete.MesAno03}}</td>
                      <td>{{balancete.Valor03 | currency: 'BRL'}}</td>
                      <td>{{balancete.MesAno04}}</td>
                      <td>{{balancete.Valor04 | currency: 'BRL'}}</td>
                  </tr>
                  <tr *ngIf='balancete.MesAno05 != "" && balancete.Valor05 != "" && 
                  balancete.MesAno06 != "" && balancete.Valor06 != "" && 
                  balancete.MesAno07 != "" && balancete.Valor07 != "" && 
                  balancete.MesAno08 != "" && balancete.Valor08 != ""'  class="heading">                      
                      <td>{{balancete.MesAno05}}</td>
                      <td>{{balancete.Valor05 | currency: 'BRL'}}</td>
                      <td>{{balancete.MesAno06}}</td>
                      <td>{{balancete.Valor06 | currency: 'BRL'}}</td>
                      <td>{{balancete.MesAno07}}</td>
                      <td>{{balancete.Valor07 | currency: 'BRL'}}</td>
                      <td>{{balancete.MesAno08}}</td>
                      <td>{{balancete.Valor08 | currency: 'BRL'}}</td>
                  </tr>
                  <tr *ngIf='balancete.MesAno09 != "" && balancete.Valor09 != "" && 
                  balancete.MesAno10 != "" && balancete.Valor10 != "" && balancete.Valor11 != ""'  class="heading">
                      
                      <td>{{balancete.MesAno09}}</td>
                      <td>{{balancete.Valor09 | currency: 'BRL'}}</td>
                      <td>{{balancete.MesAno10}}</td>
                      <td>{{balancete.Valor10 | currency: 'BRL'}}</td>
                      <td>{{balancete.MesAno11}}</td>
                      <td>{{balancete.Valor11 | currency: 'BRL'}}</td>
                      <td>{{balancete.MesAno12}}</td>
                      <td>{{balancete.Valor12 | currency: 'BRL'}}</td>
                      
                  </tr>
                  <tr *ngIf="balancete.Media > 0 && balancete.Total > 0" class="heading3">
                      <td>&nbsp;</td>
                      <td colspan="2">&nbsp;</td>
                      <td *ngIf="balancete.Media > 0" colspan="3"><b>Valor Médio: {{balancete.Media | currency: 'BRL'}}</b></td>
                      <td *ngIf="balancete.Total > 0" colspan="3"><b>Total: {{balancete.Total | currency: 'BRL'}}</b></td>
                  </tr>
              </table>
            </td>
            
          </tr>
        </tbody>
      </table>   
    </div>
  </app-balancete>