
 .bcf-card {
     display: inline-flex;
     width: 220px;
     height: 150px;
     margin-right: 1rem;
 
     .card-title {
         margin-top: 15px;
         i {
             font-size: 30px;
             color: #192957;
             padding: 10px;
             padding-top: 15px;
             text-align: center;
             display: block;
             padding-bottom: 0;
         }
     }
 
     .card-body {
         text-align: center;
         color: #898ea9;
         padding: 15px 25px;
     }
 
     &:hover {
         background: #192957;
         cursor: pointer;
 
         .card-title {
             i {
                 color: #ffffff
             }
         }
         
         .card-body {
             color: #ffffff
         }
     }
 }
 