<div class="bcf-card card">
    <a [routerLink]="url" title="Clique para visualizar {{ title }}" >
      <div class="card-title">
            <i [class]="icon"></i>
      </div>
      <div class="card-body">
            {{ title }}
      </div>
    </a>
</div>