<div class="container-fluid">
    <div class="page-title">
        <h4>Atas de Assembleia</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="page-title">
                    </div>
                    <div class="card-block">
                      <div class="table-overflow">
                            <div id="dt-opt_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="dt-opt_length"><label>Exibir <select name="dt-opt_length" aria-controls="dt-opt" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> resultados</label></div><div id="dt-opt_filter" class="dataTables_filter"><label>Pesquisar:<input type="search" class="" placeholder="" aria-controls="dt-opt"></label></div>
                            <div class="table-responsive">
                                <table id="dt-opt" class="table table-lg table-hover dataTable no-footer" role="grid" aria-describedby="dt-opt_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting">Arquivo</th>
                                                <th class="sorting text-center">Inclusão</th>
                                                <th class="sorting text-center">Expiração</th>
                                                <th class="sorting text-center" style="width: 100px;">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="datas.length == 0 && loading == false">
                                                <td class="text-center" colspan="4" width="100%">Não há Atas de Assembleia adicionadas no momento.</td>
                                            </tr>
                                            <tr role="row" *ngFor="let data of datas">
                                                <td width="200"><a href="http://www.bcfadm.com.br/bcfnet/{{data.link_arquivo}}" target="_blank">{{data.arvore}}</a></td>
                                                <td width="50" align="center">{{data.data_inclusao}}</td>
                                                <td width="50" align="center">{{data.data_expiracao}}</td>
                                                <td align="center" width="20">
                                                    <a href="http://www.bcfadm.com.br/bcfnet/{{data.link_arquivo}}" target="_blank" title="Clique para visualizar">
                                                    <i class="ei ei-search action"></i>
                                                    </a>
                                                </td>
                                        </tr>                                    
                                    </tbody>
                                </table>
                            </div>
                              <!--<div class="dataTables_info" id="dt-opt_info" role="status" aria-live="polite">Showing 1 to 10 of 12 entries</div><div class="dataTables_paginate paging_simple_numbers" id="dt-opt_paginate"><a class="paginate_button previous disabled" aria-controls="dt-opt" data-dt-idx="0" tabindex="0" id="dt-opt_previous">Previous</a><span><a class="paginate_button current" aria-controls="dt-opt" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="dt-opt" data-dt-idx="2" tabindex="0">2</a></span><a class="paginate_button next" aria-controls="dt-opt" data-dt-idx="3" tabindex="0" id="dt-opt_next">Next</a></div></div>-->
                          </div>
                  </div>    
            </div>
        </div>
    </div>
</div>