.switch-bar {
    background: #192a57;
    margin: 0;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 60px;
    z-index: 9999;

    .inner-container {
        padding-left: 105px;

        .title {
            vertical-align: middle;
            color: #fff;
            display: inline-block;
            margin-top: 13px;
            font-size: 17px;
        }

        .button {
            display: inline-block;
            color: #fff;
            text-decoration: underline;
            margin-top: 12px;
            margin-right: 15px;
        }
    }
}