<div class="switch-bar" *ngIf="this.authService.swapStatus()">
  <div class="inner-container">
      <div class="row">
        <div class="col-md-8">
            <h3 class="title">Você está conectado como <b>{{ this.account.condominio }}</b>!</h3>
        </div>
        <div class="col-md-4 text-right">
            <!--<a href="javascript: void(0)" class="button" (click)="open()">Trocar Condomínio</a>--> 
            <!-- todo: implementar depois através de um modal ou dropdown sei la -->
            <a href="javascript: void(0)" class="button" (click)="swapout()">Sair do Condomínio</a>
        </div>
      </div>
  </div>
</div>