<app-balancete name="Balancete Recpag" [loading]="loading" [childData]="data" (periodo)="onChange($event)">
  <!-- Conta 001 -->
  <div class="table-responsive">
    <table class="table table-hover" id="table" #table style="margin-bottom: 0px; min-height: 600px;">
      <thead>
          <tr>
              <th class="1-3" style="width: 30%">Complemento</th>
              <th style="width: 30%">Competência</th>
              <th class="text-right" style="width: 40%;">Valor</th>
          </tr>
      </thead>
      <tbody>
          <!--<tr>
              <td><b style="color: #3e5e79;">001 - Condomínio</b></td>
              <td class="text-right"></td>
          </tr>-->
          <tr *ngFor="let balancete of data"
          [ngClass]="{
            'subheading': balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0,
            'subheading2': (balancete.Campo1.length == 0 && balancete.Campo2.length != 0 && balancete.Campo3.length != 0) || (balancete.Campo1 == 'DEMONSTRATIVO DE SALDOS'),
            'text-center': balancete.Campo1 == 'DEMONSTRATIVO DE SALDOS'
          }">
            <td [ngClass]="{ 'subheading3 text-left': balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0 && balancete.Campo1 != 'DEMONSTRATIVO DE SALDOS' }" 
              [colSpan]="balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0 ? 3 : ''">{{balancete.Campo1}}</td>
            <td class="text-left" [hidden]="balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0">
              <span [hidden]="balancete.Campo1.length != 0 && balancete.Campo2.length == 0">
                  {{balancete.Campo2}} 
              </span>
            </td>
            <td class="text-right" [hidden]="balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0">
              <span [hidden]="balancete.Campo3.length == 0">
                R$  {{balancete.Campo3.trim() || "-"}}
              </span>
            </td>
        </tr>
      </tbody>
    </table>   
  </div>
</app-balancete>