<div class="container-fluid">
    <div class="page-title">
        <h4>Painel de Controle (Proprietário)</h4>
        <h5>Olá, <b>{{this.account?.NomeCompleto}}</b>!</h5>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="row">
              
              <div class="col-md-2 col-xs-12 mrg-bottom-30">
                    <div class="bcf-card card">
                        <a [routerLink]="['/financeiro/contas-a-pagar']" title="Clique para visualizar Estatísticas de acesso" >
                          <div class="card-title">
                            <i class="ti-money"></i>
                          </div>
                          <div class="card-body">
                            Contas <br>a Pagar
                          </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12 mrg-bottom-30">
                    <div class="bcf-card card">
                        <a [routerLink]="['/financeiro/devedores/devedores-com-reajuste']" title="Clique para visualizar Estatísticas de acesso" >
                            <div class="card-title">
                            <i class="ei ei-deal"></i>
                            </div>
                            <div class="card-body">
                                Devedor <br>com reajuste
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12 mrg-bottom-30">
                    <div class="bcf-card card">
                        <a [routerLink]="['/financeiro/extrato/conta-corrente']" title="Clique para visualizar Extrato de Conta Corrente" >
                            <div class="card-title">
                            <i class="ti-notepad"></i>
                            </div>
                            <div class="card-body">
                                Extrato de Conta Corrente
                            </div>
                        </a>
                    </div>
                </div>
              <div class="col-md-2 col-xs-12 mrg-bottom-30">
                  <div class="bcf-card card">
                      <a [routerLink]="['/mensagens/cadastrar']" title="Clique para enviar uma mensagem" >
                        <div class="card-title">
                          <i class="ti-email"></i>
                        </div>
                        <div class="card-body">
                          Enviar <br/>mensagem
                        </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-2 col-xs-12 mrg-bottom-30">
                  <div class="bcf-card card">
                      <a [routerLink]="['/avisos/avisos-da-administradora']" title="Clique para enviar aviso para todos os condomínios" >
                        <div class="card-title">
                          <i class="ti-announcement"></i>
                        </div>
                        <div class="card-body">
                          Avisos da Administradora
                        </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-2 col-xs-12 mrg-bottom-30">
                <div class="bcf-card card">
                    <a [routerLink]="['/perfil']" title="Alterar Dados Cadastrais" >
                        <div class="card-title">
                            <i class="fa fa-edit"></i>
                        </div>
                        <div class="card-body">
                            Alterar Dados Cadastrais
                        </div>
                    </a>
                </div>
            </div>
              
          </div>
      </div>
      
    </div>    
</div>