.container-fluid {
    min-height: 715px;
}

.mrg-top-15 {
    margin-top: 15px;
}

.mrg-bottom-30 {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 5px;
}

.bcf-card {

    .card-title {
        margin-top: 15px;
        i {
            font-size: 30px;
            color: #192957;
            padding: 10px;
            padding-top: 15px;
            text-align: center;
            display: block;
            padding-bottom: 0;
        }
    }

    .card-body {
        text-align: center;
        color: #898ea9;
    }

    &:hover {
        background: #192957;

        .card-title {
            i {
                color: #ffffff
            }
        }
        
        .card-body {
            color: #ffffff
        }
    }
}

