<div class="widget card h-100 relative">
    <div class="card-heading border bottom">
        <div class="row">
            <div class="col-md-6">
                <h4 class="card-title mb-3 mb-sm-0">Despesas dos últimos 12 meses</h4>
            </div>
            <div class="col-md-6 text-right">
                <h4 class="card-title">{{ getCurrentMonth() }}</h4>
            </div>
        </div>
    </div>
    <div class="card-block">
        <!-- <div class="row mrg-top-30" *ngIf="loaded">
            <div class="col-xs-12 col-5 col-sm-6 border right">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Administrativo | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Administrativo</p>
                </div>
            </div>
            <div class="col-xs-12 col-5 col-sm-6 border right">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Concessionarias | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Concessionárias</p>
                </div>
            </div>
            <div class="col-xs-12 col-5 col-sm-6 border right">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Contratos | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Contratos</p>
                </div>
            </div>
            <div class="col-xs-12 col-5 col-sm-6 border right">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Materiais | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Materiais</p>
                </div>
            </div>
            <div class="col-xs-12 col-5 col-sm-6">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Pessoal | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Pessoal</p>
                </div>
            </div>
        </div> -->
        <div class="d-inline-block d-lg-flex mrg-top-30" *ngIf="loaded">
            <div class="float-left w-50 w-lg-100 border right">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Administrativo | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Administrativo</p>
                </div>
            </div>
            <div class="float-left w-50 w-lg-100 border right">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Concessionarias | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Concessionárias</p>
                </div>
            </div>
            <div class="float-left w-50 w-lg-100 border right">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Contratos | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Contratos</p>
                </div>
            </div>
            <div class="float-left w-50 w-lg-100 border right">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Materiais | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Materiais</p>
                </div>
            </div>
            <div class="float-left w-50 w-lg-100">
                <div class="text-center pdd-vertical-10">
                    <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Pessoal | currency: 'BRL' }}</h2>
                    <p class="no-mrg-btm">Pessoal</p>
                </div>
            </div>
        </div>
        
        <div class="row mrg-top-35">
            <div class="col-md-12">
                <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                <div class="card-block">
                    <div class=" custom-aspect-ratio">
                        <div class="aspect-ratio-child">
                            <canvas *ngIf="loaded" baseChart #baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>