<app-balancete name="Saldo Atualizado" [loading]="loading" [childData]="data">
    <!-- Conta 001 -->
    <div class="table-responsive">
        <table class="table table-hover" id="table" #table style="margin-bottom: 0px;">
        <thead>
            <tr>
                <th>Conta</th>
                <th class="text-right">Saldo</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr>
                <td><b style="color: #3e5e79;">001 - Condomínio</b></td>
                <td class="text-right"></td>
            </tr>-->
            <tr *ngFor="let balancete of data">
                <td>{{balancete.Conta}}</td>
                <td class="text-right">R$ {{balancete.SaldoFinal}} {{balancete.TipoSaldoFinal}}</td>
            </tr>
        </tbody>
        </table>   
    </div>
</app-balancete>