<div class="widget card h-100">
    <div class="card-heading border bottom">
        <div class="row">
            <div class="col-md-12">
                <h4 class="card-title float-left">Posição Recibos Gráfico Analítico</h4>

                <ul *ngIf="this.permissionService.isSindico()" class="list-unstyle list-inline text-right float-right">
                    <li class="list-inline-item">
                        <a (click)="exportAsCSV()" class="text-gray text-hover display-block no-mrg-btm hover pt-0">
                            <i class="fa fa-file-text-o text-success pdd-right-5"></i>
                            <b>Exportar CSV</b>
                        </a>
                    </li>                   
                </ul>
            </div>
        </div>
    </div>
        
    <div class="card-block">
        <div class="row position-relative" style="z-index: 1;">
            <!-- <div class="col-md-6 col-xs-12 border right relative text-center">
                <div class="table-filter filter tf-icon tf-search">
                    <label>Pesquisar: </label>
                    <input type="search" placeholder="Filtrar por palavra-chave" (input)="searchChange($event.target.value)"
                        class="form-control filter__input">
                </div>
            </div> -->
            <div class="col-md-12 col-xs-12">
                <div class="table-filter filter tf-icon tf-search form-inline d-block float-left" style="margin-bottom: -35px;">
                    Status: 
                    <select class="form-control" (change)="onChange($event.target.value)">
                        <option value="">--</option>
                        <option value="1">PAGO</option>
                        <option value="0">NÃO PAGO</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 dataTables_wrapper no-footer">
                <div class="card-block text-center" *ngIf="pagedItems.length == 0 && loading == false">
                    <p>Não há posição recibos durante esse período.</p>
                </div>

                <div class="table-responsive">
                    <table class="table table-lg table-hover" datatable [dtOptions]="dtOptions" *ngIf="pagedItems.length > 0 && loading == false">
                        <thead>
                            <tr class="no-border">
                                <th class="bold">Unidade</th>
                                <th class="bold">Nª Recibo</th>
                                <th class="bold">Data Vencimento</th>
                                <th class="bold">Valor Recebido</th>
                                <th class="bold text-right">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let posicao_recibo of this.pagedItems">
                                <td>
                                    {{posicao_recibo.ComplementoUnidade}}
                                </td>
                                <td>
                                    {{posicao_recibo.NumeroRecibo}}
                                </td>
                                <td>
                                    {{this.formatToDate(posicao_recibo.DataVencimento)}}
                                </td>
                                <td>
                                    <strong>{{ posicao_recibo.ValorRecibo | currency: 'BRL' }}</strong>
                                </td>
                                <td class="text-right">
                                    <span *ngIf="posicao_recibo.status === 1" ngbTooltip="Pago em {{this.formatToDate(posicao_recibo.DataBaixa)}}"
                                        class="badge badge-info">PAGO</span>
                                    <span *ngIf="posicao_recibo.status === 0" class="badge badge-danger">NÃO PAGO</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Paginação" class="paging_simple_numbers text-right text-sm-right" *ngIf="pager.pages && pager.pages.length > 1">
                    <ul class="pagination text-center">
                        <li class="page-item d-inline-flex" [ngClass]="{disabled:pager.currentPage === 1}">
                            <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(1)">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="page-item d-inline-flex" [ngClass]="{disabled:pager.currentPage === 1}">
                            <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(pager.currentPage - 1)">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item d-inline-flex" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li class="page-item d-inline-flex " [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(pager.currentPage + 1)">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item d-inline-flex" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(pager.totalPages)">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>