.badge {
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 6px;

    &.badge-info {
        background: #66c1fd;
        color: #fff;
    }
}

.relative {
    position: relative;
}

.filter {
    .filter__input {
        width: 200px;
        margin-top: 3px;
        display: inline;
        margin-left: 10px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    margin-top: 40px;
}

.pagination li {
    display: block;
}