<app-balancete name="Devedores com reajuste" [loading]="loading" [childData]="data" (periodo)="onChange($event)">
    <div class="table-responsive">
        <table class="table table-hover" id="table" #table style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th>Vencimento</th>
                    <th>Recibo</th>
                    <th>Principal</th>
                    <th>Índice</th>
                    <th>Correção</th>
                    <th>Multa</th>
                    <th class="smaller">Juros (%)</th>
                    <th class="smaller">Juros (R$)</th>
                    <th>Tx.Cobrança</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="(data.length == 2 || data.length == 0) && loading == true">
                  <td colspan="10" class="text-center">Não há cotas em aberto no período informado</td>
                </tr>
                <ng-container *ngIf="data.length > 2 && loading == true">
                    <tr *ngFor="let balancete of data"
                    [ngClass]="{
                      'subheading': balancete.Campo01.length != 0 && balancete.Campo02.length == 0 && balancete.Campo03.length == 0,
                      'subheading2': balancete.Campo01.length == 0 && balancete.Campo02.length != 0 && balancete.Campo03.length != 0
                    }">
                      <td [ngClass]="{ 'subheading3': balancete.Campo01.length != 0 && balancete.Campo02.length == 0 && balancete.Campo03.length == 0 }" 
                        [colSpan]="balancete.Campo01.length != 0 && balancete.Campo02.length == 0 && balancete.Campo03.length == 0 ? 10 : ''">
                        {{balancete.Campo01}}
                      </td>
                      <td *ngIf="balancete.Campo02.length != 0">
                        {{balancete.Campo02}}
                      </td>
                      <td *ngIf="balancete.Campo03.length != 0">
                        {{balancete.Campo03}}
                      </td>
                      <td *ngIf="balancete.Campo04.length != 0 || balancete.Campo03.length != 0" [colSpan]="balancete.Campo05.length == 0 && balancete.Campo06.length == 0 && balancete.Campo07.length == 0 && balancete.Campo08.length == 0 && balancete.Campo09.length == 0 && balancete.Campo10.length == 0 ? '7' : 0">
                        {{balancete.Campo04}}
                      </td>
                      <td *ngIf="balancete.Campo05.length != 0">
                        {{balancete.Campo05}}
                      </td>
                      <td *ngIf="balancete.Campo06.length != 0">
                        {{balancete.Campo06}}
                      </td>
                      <td *ngIf="balancete.Campo07.length != 0 || balancete.Campo06.length != 0">
                        {{balancete.Campo07}}
                      </td>
                      <td *ngIf="balancete.Campo08.length != 0">
                        {{balancete.Campo08}}
                      </td>
                      <td *ngIf="balancete.Campo09.length != 0">
                        {{balancete.Campo09}}
                      </td>
                      <td *ngIf="balancete.Campo10.length != 0">
                        {{balancete.Campo10}}
                      </td>
                    </tr>
                </ng-container>
            </tbody>
          </table>   
    </div>
</app-balancete>