<app-balancete name="Balancete Sintético ({{tipo}})" [loading]="loading" [childData]="data" (periodo)="onChange($event)">
  <!-- Conta 001 -->
  <div class="table-responsive">
    <table class="table table-hover" id="table" #table style="margin-bottom: 0px; min-height: 600px;">
      <thead>
          <tr>
              <th>Classificação Anterior</th>
              <th>Descrição</th>
              <th class="text-center" style="width: 200px;">Valor</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let balancete of data">
          <td>
            <b>{{balancete.ClassificacaoAnteior}}</b>
          </td>
          <td> {{balancete.Descicao}} </td>
          <td class="text-center">
              R$  {{balancete.Valor}}
          </td>
        </tr>
      </tbody>
    </table>   
  </div>
</app-balancete>