<!-- Modal -->
<div class="modal" [ngClass]="{'fade': !!isVisible}" id="{{target}}" tabindex="-1" role="dialog" aria-labelledby="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="{{target}}">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="ti-close text-danger"></i>
        </button>
      </div>
      <div class="modal-body">
        {{content}}
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->