<app-balancete name="Balancete Analítico" [loading]="loading" [childData]="data" (periodo)="onChange($event)">
  <!-- Conta 001 -->
  <div class="table-responsive">
    <table class="table table-hover" id="table" #table style="margin-bottom: 0px; min-height: 600px;">
      <thead>
          <tr>
              <th>Dt</th>
              <th>Complemento</th>
              <th class="text-right" style="width: 200px;">Valor</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let balancete of data"
          [ngClass]="{
            'subheading': (balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0 || balancete.Campo1.length != 0 && balancete.Campo2 == ' ' && balancete.Campo3 == ' ') || (['Saldo Anterior', 'Créditos nesta Conta', 'Débitos nesta Conta', 'Saldo Atual'].indexOf(balancete.Campo1.trim()) > -1),
            'subheading2': (balancete.Campo1.length == 0 && balancete.Campo2.length != 0 && balancete.Campo3.length != 0) || (balancete.Campo1 == 'Sub - Total') || (balancete.Campo1.trim() == 'FECHAMENTO DOS SALDOS'),
            'text-center': balancete.Campo1.trim() == 'FECHAMENTO DOS SALDOS'
          }">
            <td [hidden]="balancete.Campo1.trim() == 'FECHAMENTO DOS SALDOS'">
                <span *ngIf="balancete.Campo4 != '' && balancete.Campo4 != 0">{{balancete.Campo4}}</span>
            </td>
            <td class="last" 
              [ngClass]="{ 'subheading3': (balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0) && balancete.Campo1.trim() != 'FECHAMENTO DOS SALDOS' }" 
              [colSpan]="balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0 
              || balancete.Campo1.length != 0 && balancete.Campo2 == ' ' && balancete.Campo3 == ' '  ? 3 : 0" 
              *ngIf="balancete.Campo1.length != 0"
            >
              {{balancete.Campo1}}
            </td>
            <td class="text-right last" *ngIf="(balancete.Campo1.length != 0 && balancete.Campo2.length != 0 && balancete.Campo3.length != 0)
            || (balancete.Campo1.length != 0 && balancete.Campo2.length != 0 && balancete.Campo3.length == 0)">
                <span *ngIf="balancete.Campo1.length != 0 && balancete.Campo2.length != 0 && balancete.Campo3.length != 0" [ngClass]="{ 
                  'text-success': balancete.subTotal == 'positive', 'text-danger': balancete.subTotal == 'negative' 
                }">
                    R$ {{balancete.Campo2}} {{balancete.Campo3}}
                </span>
                <span *ngIf="balancete.Campo1.length != 0 && balancete.Campo2.length != 0 && balancete.Campo3.length == 0">
                    <span *ngIf="isString(balancete.Campo2)">
                        {{balancete.Campo2}}
                    </span>  
                    <span *ngIf="!isString(balancete.Campo2)">
                        R$ {{balancete.Campo2}}
                    </span>     
                    
                </span>
            </td>
        </tr>
      </tbody>
    </table>   
  </div>
</app-balancete>