<div class="container-fluid">
    <div class="page-title">
        <h4>Recibos dos condôminos</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">

                    <p>Bem-vindo(a) ao nosso novo sistema de acompanhamento da administração condominial, o BCF Net.
                        Sempre buscando a excelência na prestação de nossos serviços, pedimos que caso haja quaisquer
                        dúvidas, sugestões ou reclamações, não deixe de entrar em contato conosco para que possamos
                        ajudá-lo(a).<br><br>E-mail: <a href="mailto:bcfadm@bcfadm.com.br">site@bcfadm.com.br</a> -
                        WhatsApp: (21) 99208-8188</p>

                    <div class="table-overflow">
                        <div class="table-filter filter tf-icon tf-search form-inline">
                            <label>Pesquisar: </label>
                            <input type="search" placeholder="Buscar Cliente por Unidade ou Nome" (input)="searchChange($event.target.value)"
                                class="form-control filter__input">
                        </div>
                        <div id="dt-opt_wrapper" class="dataTables_wrapper no-footer">
                            <div class="table-responsive">
                                <table id="dt-opt" class="table table-lg table-hover dataTable no-footer" role="grid"
                                    aria-describedby="dt-opt_info">
                                    <thead>
                                        <tr role="row">
                                            <th style="width: 89px;">Unidade</th>
                                            <th style="width: 232px;">Nome</th>
                                            <th style="width: 174px;">Login</th>
                                            <th style="width: 150px;">Número
                                                do Recibo</th>
                                            <th style="width: 107px;">Vencimento</th>
                                            <th style="width: 107px;">Original</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="(this.pagedItems.length == 0 || this.datas.length === 0) && this.loading == false">
                                            <td colspan="6" class="text-center">Não existem recibos cadastrados para estas
                                                unidades no momento.</td>
                                        </tr>
                                        <tr role="row" class="odd hover" *ngFor="let data of pagedItems">
                                            <td (click)="open(data.unidade.LoginUnidade, data.recibo.NumeroRecibo)">
                                                {{ data.unidade.Complemento_Unidade | titlecase }}
                                            </td>
                                            <td (click)="open(data.unidade.LoginUnidade, data.recibo.NumeroRecibo)">
                                                {{ data.unidade.Nome_do_Cliente | titlecase }}
                                            </td>
                                            <td (click)="open(data.unidade.LoginUnidade, data.recibo.NumeroRecibo)">
                                                {{ data.unidade.LoginUnidade }}
                                            </td>
                                            <td (click)="open(data.unidade.LoginUnidade, data.recibo.NumeroRecibo)">
                                                <span>
                                                    {{ data.recibo.NumeroRecibo }}
                                                </span>
                                            </td>
                                            <td (click)="open(data.unidade.LoginUnidade, data.recibo.NumeroRecibo)">
                                                <span>
                                                    {{ this.formatToDate(data.recibo.DataVencimento) }}
                                                </span>
                                            </td>
                                            <td>
                                                <a (click)="open(data.unidade.LoginUnidade, data.recibo.NumeroRecibo)"
                                                    title="Clique aqui para visualizar o recibo">
                                                    <i class="ti-search pdd-right-5"></i>
                                                </a>
                                                <a (click)="exportAsPDF(data.unidade.LoginUnidade, data.recibo.NumeroRecibo)">
                                                    <i class="ti-printer text-info pdd-right-5"></i>
                                                </a>
                                                <!--<a [href]="'http://www.bcfadm.com.br/bcfnet/boleto/?login='+ data.unidade.LoginUnidade +'&recibo='+ data.recibo.NumeroRecibo +''"-->

                                                <a (click)="downloadFile(data.unidade.LoginUnidade, data.recibo.NumeroRecibo)">
                                                    <i class="fa fa-cloud-download text-success pdd-right-5"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav aria-label="Paginação" class="paging_simple_numbers text-right text-sm-right" *ngIf="pager.pages && pager.pages.length > 1">
                                <ul class="pagination text-center">
                                    <li class="page-item d-inline-flex" [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(1)">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item d-inline-flex" [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(pager.currentPage - 1)">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item d-inline-flex" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                        <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(page)">{{page}}</a>
                                    </li>
                                    <li class="page-item d-inline-flex " [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(pager.currentPage + 1)">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item d-inline-flex" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a class="page-link paginate_button" href="javascript: void(0)" (click)="setPage(pager.totalPages)">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <ul class="list-unstyled">
                        <li>Estão disponíveis para consulta apenas os recibos com até 30 dias de vencidos.</li>
                        <li>&nbsp;</li>
                        <li>Por determinação da FEBRABAN (Federação Brasileira dos Bancos), a partir de agora recibos
                            (boletos) vencidos, com até 30 dias de atraso, podem ser pagos em toda a rede bancaria,
                            pois a multa será calculada automaticamente quando da quitação dos mesmos, não sendo mais
                            necessária atualização prévia. Por força disso estamos retirando a opção de atualização em
                            nossa página na internet, a emissão de segundas vias por esse canal permanece inalterada.</li>
                        <li>&nbsp;</li>
                        <li>Em caso de dúvidas entre em contato com seu banco.</li>
                        <li>&nbsp;</li>
                        <li>Recibos com mais de 30 dias de vencidos, deverão ser solicitados em nossa central de
                            cobrança através do telefone: (21) 3543-2925</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>