/* 4:3 Aspect Ratio */
.aspect-ratio-4-3 {
    padding-top: 75%;
    position: relative;
}

/* 16:9 Aspect Ratio */
.aspect-ratio-16-9 {
    padding-top: 56.25%;
    position: relative;
}

/* 21:9 Aspect Ratio */
.aspect-ratio-21-9 {
    padding-top: 42.8571%;
    position: relative;
}

.custom-aspect-ratio {
    padding-top: 20.25%;
    position: relative;
}

.aspect-ratio-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}