.print {
    display: none !important;
}

@media print {
    /*body {
        padding: 30px;
    }*/

    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width:100%; float:left;}

    @page {
        size: auto;
        //margin: 10mm; 
        margin: 1cm;
    }

    .print {
        display: block !important;        
        overflow: auto;
        display: block;
        width: 100%;
    }

    .no-padding {
        padding: 0;
    }

    .no-margin {
        margin: 0;
    }

    .no-print {
        display: none !important;
    }

    .is-collapsed .page-container {
        padding-left: 0 !important;
    }

    .container {
        padding: 0;
    }
    
    .balancete {
        .pdd-horizon-30 {
            padding: 0 !important;
        }

        .balancete__header {
            overflow: auto;
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
        }

        .hgroup {
            float: left;
            margin-left: 15px;

            .name {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            .name, .title, .subtitle {
                font-size: 12px;
            }
        }

        .balancete-user {
            clear: both;
            font-size: 12px;
            list-style: none;
            padding: 0;



            li {
                border-bottom: 1px solid #ccc;
                padding-bottom: 5px;
                padding-top: 5px;
            }
        }

        #pageFooter:after {
            counter-increment: page;
            content:"Página " counter(page);
            left: 0; 
            top: 100%;
            white-space: nowrap; 
            z-index: 20px;
            -moz-border-radius: 5px; 
            -moz-box-shadow: 0px 0px 4px #222;  
            background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
            background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
          }
    }

    table td {
        padding: 0 !important;        
        height: auto !important;
    }
}

.body-print {
    * {
        background: #ffffff !important;
        color: #666 !important;
        border-color: #666 !important;
    }
}