@media screen and (max-width: 575px) {
    .page-container {
        .main-content {
            padding-left: 0 !important;
            padding-right: 0 !important;

            .container-fluid {
                .container {
                    padding-left: 0;
                    padding-right: 0;

                    .pdd-horizon-30 {
                        padding-left: 15px !important;
                        padding-right: 15px !important;
                    }
                }
            }
        }
    }

    body .card-block {
        padding: 15px;
    }

    .custom-aspect-ratio {
        padding-top: 140.25%;
        position: relative;
    }
}

@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            left: 235px !important;
        }
    }
}
