.fs-12 {
    font-size: 12px;
}

.card-description {
    padding: 0 20px;
}

/* Fix Selectize-dropdown issue */
.selectize-dropdown {
    top: 42px !important;
}

.bold {
    font-weight: bold !important;
}

.no-border {
    border: 0 !important;
}

.no-padding {
    padding: 0 !important;
}