<div class="table-overflow">
  <div class="table-filter">
    <div class="row">
        <div class="col-md-6 text-right form-inline">
            <!--<label>Mostrar: <input type="search" class="form-control" placeholder="" aria-controls="dt-opt"></label>-->
        </div>
        <div class="col-md-6 text-right">
          <form action="" class="form-inline right">
            <label>Pesquisar:</label>
            <input type="text" class="form-control" placeholder="Digite seu texto aqui..."  (input)="onSearch($event.target.value)" aria-controls="dt-opt">
          </form>
        </div>
    </div> 
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr role="row">
          <th *ngFor="let thead of header" class="table-head">{{ thead | titlecase}}</th>
        </tr>
      </thead>
      <tbody>
        <tr role="row" *ngFor="let data of dataSource" class="table-row">
          <td *ngFor="let thead of header" class="table-cell">
              {{ data[thead] }}
          </td>
        </tr>
      </tbody>
      <tfoot>
          <div class="btn-group pull-right">
              <ul class="pagination" >
                <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" href="#">Prev</a></li>
                    <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                      <a (click)="setPage(page)" href="#" >{{page}}</a>
                    </li>
                <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" href="#">Next</a></li>
              </ul>
          </div>
      </tfoot>
    </table>
  </div>
</div>