<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a href="/">
                <img src="/assets/images/logo/bcf.svg" width="140" height="140" class="logo">
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="" title="Clique aqui esconder o menu">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>

        <ul class="side-nav-menu scrollable" [hidden]="!this.permissionService.isAdmin()">
            <li class="nav-item">
                <a class="mrg-top-30" [routerLink]="['/admin']">
                    <span class="icon-holder">
                        <i class="ti-home"></i>
                    </span>
                    <span class="title">Informações Gerais</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fa fa-building-o"></i>
                    </span>
                    <span class="title">Condomínios</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/admin/condominio']">Administrar Condomínios</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-email"></i>
                    </span>
                    <span class="title">Central de Mensagens</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/mensagens']">Todas as Mensagens</a>
                    </li>
                    <li>
                        <a [routerLink]="['/mensagens/cadastrar']">Enviar Mensagem</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-announcement"></i>
                    </span>
                    <span class="title">Avisos</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/avisos/cadastrar-aviso']">Cadastrar Aviso</a>
                    </li>
                    <li>
                        <a [routerLink]="['/avisos']">Quadro de Avisos
                            <span class="badge badge-info" *ngIf="this.total_avisos_condominio != 0">{{this.total_avisos_condominio}}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/avisos/avisos-da-administradora']">Avisos da Administradora
                            <span class="badge badge-warning" *ngIf="this.total_avisos_administradora != 0">{{this.total_avisos_administradora}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="side-nav-menu scrollable" [hidden]="this.permissionService.isAdmin()">
            <li class="nav-item" *ngIf="this.permissionService.isAdmin() || this.permissionService.isGerente() || this.permissionService.isSindico() || this.permissionService.isCondomino() || this.permissionService.isLocatario()">
                <a class="mrg-top-30" [routerLink]="['/dashboard']">
                    <span class="icon-holder">
                        <i class="ti-home"></i>
                    </span>
                    <span class="title">Informações Gerais</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="this.permissionService.isProprietario()">
                <a class="mrg-top-30" [routerLink]="['/admin/proprietario']">
                    <span class="icon-holder">
                        <i class="ti-home"></i>
                    </span>
                    <span class="title">Início</span>
                </a>
            </li>
            <li class="nav-item dropdown" [hidden]="!this.permissionService.isSindico() && !this.permissionService.isGerente()">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-package"></i>
                    </span>
                    <span class="title">Cadastro</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/relatorios/relatorio-de-condomino']">Relatório de Condôminos</a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item dropdown" [hidden]="!!this.permissionService.isProprietario()">
                <a href="javascript: void(0)" class="hover">
                    <span class="icon-holder">
                        <i class="ei-24-hours"></i>
                    </span>
                    <span class="title">Reservas</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/reservas']"><span *ngIf="!permissionService.isSindico()">Minhas</span> Reservas</a>
                    </li>
                    <li>
                        <a [routerLink]="['/reservas/espacos']">Espaços</a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item dropdown" [hidden]="this.permissionService.isLocatario()">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ei ei-money"></i>
                    </span>
                    <span class="title">Financeiro</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item dropdown" [hidden]="!this.permissionService.isSindico() && !this.permissionService.isGerente() && !this.permissionService.isCondomino()">
                        <a href="javascript:void(0);">
                            <span>Balancete</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a [routerLink]="['/financeiro/balancete/analitico']">Analítico</a>
                            </li>
                            <!-- <li>
                                <a [routerLink]="['/financeiro/balancete/anual']">Anual</a>
                            </li> -->
                            <li>
                                <a [routerLink]="['/financeiro/balancete/rec-pag']">Rec/Pag</a>
                            </li>                            
                            <li>
                                <a [routerLink]="['/financeiro/balancete/sintetico']">Sintético</a>
                            </li>
                            <!--<li>
                                <a [routerLink]="['/financeiro/balancete/semi_sintetico/debito']">Semi Sintético
                                    (Débito)</a>
                            </li>
                            <li>
                                <a [routerLink]="['/financeiro/balancete/semi_sintetico/credito']">Semi Sintético
                                    (Crédito)</a>
                            </li>-->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a [routerLink]="['/financeiro/contas-a-pagar']">
                            <span>Contas a Pagar</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown" [hidden]="!this.permissionService.isSindico() && !this.permissionService.isGerente() && !this.permissionService.isCondomino()">
                        <a href="javascript:void(0);">
                            <span>Demonstrativos</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a [routerLink]="['/financeiro/demonstrativos/comparativo-mes-anterior']">Comparativo
                                    Mês Anterior</a>
                            </li>
                            <li>
                                <a [routerLink]="['/financeiro/demonstrativos/no-periodo']">Demonstrativo no Período</a>
                            </li>
                            <li>
                                <a [routerLink]="['/financeiro/demonstrativos/saldo-atualizado']">Saldo Atualizado</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" [hidden]="!this.permissionService.isSindico() && !this.permissionService.isProprietario() && !this.permissionService.isGerente()">
                        <a href="javascript:void(0);">
                            <span>Devedores</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a [routerLink]="['/financeiro/devedores/cotas-em-aberto']">Cotas em Aberto</a>
                            </li>
                            <li>
                                <a [routerLink]="['/financeiro/devedores/devedores-com-reajuste']">Devedores com
                                    Reajuste</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a [routerLink]="['/financeiro/extrato/conta-corrente']">
                            <span>Extrato de Conta Corrente</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a [routerLink]="['/financeiro/segunda-via-de-boletos']">
                            <span *ngIf="!!this.permissionService.isSindico()">
                                2ª via de boletos das unidades para pagamento
                            </span>
                            <span *ngIf="!!this.permissionService.isCondomino()">
                                Veja aqui sua 2ª via de boleto para pagamento
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino() && !this.permissionService.isGerente()">
                <a class="dropdown-toggle" href="javascript: void(0)">
                    <span class="icon-holder">
                        <i class="ti-file"></i>
                    </span>
                    <span class="title">Administrativo</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/administrativo/atas-de-assembleia']">Atas de Assembleia</a>
                    </li>
                    <li>
                        <a [routerLink]="['/administrativo/convocacao-de-assembleias']">Convocação de Assembleias</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" [hidden]="!this.permissionService.isSindico() && !this.permissionService.isGerente()">
                <a class="dropdown-toggle" href="javascript: void(0)">
                    <span class="icon-holder">
                        <i class="ei ei-balance"></i>
                    </span>
                    <span class="title">Jurídico</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/juridico/acompanhamento-de-processos']">Acompanhamento de Processos</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" [hidden]="!this.permissionService.isSindico()">
                <a class="dropdown-toggle" [routerLink]="['/departamento-pessoal']">
                    <span class="icon-holder">
                        <i class="ei ei-briefcase"></i>
                    </span>
                    <span class="title">Departamento Pessoal</span>
                </a>
            </li>
            <li class="nav-item dropdown" [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino()">
                <a [routerLink]="['/pasta-virtual']">
                    <span class="icon-holder">
                        <i class="ei ei-folder"></i>
                    </span>
                    <span class="title">Pasta Virtual</span>
                </a>
            </li>
            <li class="nav-item dropdown" [hidden]="!this.permissionService.isSindico() && !this.permissionService.isGerente()">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-layout-media-overlay"></i>
                    </span>
                    <span class="title">Documentos</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino() && !this.permissionService.isGerente()">
                        <a [routerLink]="['/documentos/enviar-arquivos']">Enviar Arquivo</a>
                    </li>
                    <li>
                        <a [routerLink]="['/documentos/gerenciar-arquivos']">Gerenciar Arquivos</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-email"></i>
                    </span>
                    <span class="title">Central de Mensagens</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/mensagens']">Todas as Mensagens</a>
                    </li>
                    <li>
                        <a [routerLink]="['/mensagens/cadastrar']">Entre em contato com a Administradora</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" [hidden]="this.permissionService.isProprietario()">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ei ei-picture"></i>
                    </span>
                    <span class="title">Álbum do condomínio</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/album/visualizar-album']">Visualizar álbum</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" [hidden]="!this.permissionService.isLocatario()">
                <a [routerLink]="['/mapa']">
                    <span class="icon-holder">
                        <i class="ti-map-alt"></i>
                    </span>
                    <span class="title">Mapa de Localização</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-announcement"></i>
                    </span>
                    <span class="title">Avisos</span>
                </a>
                <ul class="dropdown-menu">
                    <li *ngIf="this.permissionService.isCondomino() || this.permissionService.isSindico()">
                        <a [routerLink]="['/avisos/cadastrar-aviso']">Cadastrar Aviso</a>
                    </li>
                    <li *ngIf="this.permissionService.isCondomino() || this.permissionService.isSindico()">
                        <a [routerLink]="['/avisos']">Quadro de Avisos
                            <span class="badge badge-info" *ngIf="this.total_avisos_condominio != 0">{{this.total_avisos_condominio}}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/avisos/avisos-da-administradora']">Avisos da Administradora
                            <span class="badge badge-warning" *ngIf="this.total_avisos_administradora != 0">{{this.total_avisos_administradora}}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="javascript: void(0)">
                    <span class="icon-holder">
                        <i class="ei ei-cloud-download"></i>
                    </span>
                    <span class="title">Downloads</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">
                    <li [hidden]="!this.permissionService.isProprietario() && !this.permissionService.isLocatario()"><a
                            href="https://www.bcfadm.com.br/bcfnet/pdfs/leiDoInquilinato.pdf" target="_blank">Lei do
                            Inquilinato</a></li>
                    <li [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino()"><a href="https://www.bcfadm.com.br/bcfnet/pdfs/manualdosindico.pdf"
                            title="Veja o Manual do Síndico" target="_blank">Manual do Síndico</a></li>
                    <li [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino()"><a href="https://www.bcfadm.com.br/bcfnet/pdfs/Circular%20Febraban-S%C3%ADndicos.pdf"
                            title="Veja a RESOLUÇÃO 015/2-15 – FEBRABAN" target="_blank">RESOLUÇÃO 015/2-15 – FEBRABAN</a></li>
                    <li [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino()"><a href="https://www.bcfadm.com.br/downloads/CCT2017-2018.pdf"
                            target="_blank" title="Veja a Convenção Coletiva de Trabalho – 2017">Convenção Coletiva de
                            Trabalho – 2017</a></li>
                    <li [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino()"><a href="https://www.bcfadm.com.br/downloads/guia-agua-abadi.pdf"
                            target="_blank" title="Veja o Guia de Ações Abadi - Sustentabilidade, Consumo Consciente e redução de Custos">Guia
                            de Ações Abadi - Sustentabilidade, Consumo Consciente e redução de Custos</a></li>
                    <li [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino()"><a href="https://www.bcfadm.com.br/bcfnet/pdfs/ABNTNBR-16280-2015.pdf"
                            target="_blank" title="Veja a Reforma em edificações — ABNT NBR 1620:2015">Reforma em
                            edificações — ABNT NBR 16280:2015</a></li>
                    <li [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino()"><a href="https://www.bcfadm.com.br/downloads/CAT.pdf"
                            target="_blank" title="Veja o Manual de instruções para preenchimento da comunicação de Acidente do Trabalho - CAT">Manual
                            de instruções para preenchimento da comunicação de Acidente do Trabalho - CAT</a></li>
                    <li [hidden]="!this.permissionService.isSindico() && !this.permissionService.isCondomino()"><a href="https://www.receita.fazenda.gov.br/atendvirtual/orientacoes/obrigatoriedadecd.htm"
                            title="Veja a Certificação Digital para Condomínios" target="_blank">Certificação Digital
                            para Condomínios</a></li>
                </ul>
            </li>
            <li class="nav-item" [hidden]="!!this.permissionService.isProprietario()">
                <a [routerLink]="['/duvidas-frequentes']" class="">
                    <span class="icon-holder">
                        <i class="fa fa-question"></i>
                    </span>
                    <span class="title">Dúvidas Frequentes</span>
                </a>
            </li>
            <li class="nav-item dropdown" [hidden]="!!this.permissionService.isProprietario()">
                <a href="javascript: void(0)" class="hover">
                    <span class="icon-holder">
                        <i class="ei-24-hours"></i>
                    </span>
                    <span class="title">2ª vias de Concessionárias</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="https://servicos.ceg.com.br/segundavia/popup.jsp" target="_blank">
                            CEG GasNatural
                        </a>
                    </li>
                    <li>
                        <a href="https://www.ampla.com/ag%C3%AAncia-virtual/login.aspx" target="_blank">
                            Ampla
                        </a>
                    </li>
                    <li>
                        <a href="https://agenciavirtual.light.com.br/LASView/av/emissaosegundavia/emissaoSegundaVia.do"
                            target="_blank">
                            Light
                        </a>
                    </li>
                    <li>
                        <a href="https://boleto.cedae.com.br/segundavia_new_web/pages/SegVia/ENTRADA.aspx" target="_blank">
                            CEDAE
                        </a>
                    </li>
                    <li>
                        <a href="https://2vias.aguasbr.com.br/default.asp?site=htan" target="_blank">
                            Águas de Niterói
                        </a>
                    </li>
                </ul>
            </li>
            <li class="last"></li>
        </ul>
    </div>
</div>
<!-- Side Nav END -->