.side-nav-logo {
  text-align: center;
}

.side-nav-logo>a .logo {
  max-height: 140px;
  padding: 20px 0px;
}

.last {
  height: 100px; 
  display: block;
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown .arrow {
  right: 15px;
}