.profile-img {
     float: left;
     margin-top: 5px;
}

.button__send {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selected {
     background-color: #192b57;
     color: #fff !important;

     .from, .subject {
          color: #fff !important;
     }
}

.absolute-center {
     text-align: center;
     display: block;
     position: absolute;
     height: 100px;
     width: 300px;
     top: 50%;
     margin-top: -100px;
     left: 50%;
     margin-left: -150px;
}

.relative {
     height: 100%;
}

.empty-message {
     .icon {
          color: #192b57;
          font-size: 36px;
     }
     .message {
          font-size: 18px;
          color: #192b57;
     }
}

.email-app .email-wrapper {
    margin-left: 0;
}

.email-item:hover {
    color: #fff !important;

    background-color: #192b57 !important;
     color: #fff !important;

     .from, .subject {
          color: #fff !important;
     }
}