<div class="container-fluid">
        <div class="email-app" [ngClass]="{'mail-nav-active': emailLayout.emailNavMobile}"> 
            <div class="email-wrapper row">
                <div class="email-list">
                    <div class="email-list-tools">
                        <ul class="tools pull-left">
                            <li class="d-lg-none">
                                <a href="javascript:void(0)" (click)="emailLayout.emailNavMobile = !emailLayout.emailNavMobile">
                                    <i class="ti-menu"></i>
                                </a>
                            </li> 
                           <!--<li>
                                <a href="">
                                    <span class="font-size-14">Marcar como Lida</span>
                                </a>
                            </li> -->
                        </ul>
                        <ul class="tools text-right">
                            <!--<li>
                                <a href="javascript:void(0);">
                                    <i class="ti-star"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="ti-timer"></i>
                                </a>
                            </li>-->
                            <!--<li>
                                <a href="javascript:void(0);" (click)="deleteAll()">
                                    <i class="ti-trash"></i>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                    <perfect-scrollbar class="email-list-wrapper">
                        <a [routerLink]="['/mensagens/cadastrar']" (click)="emailLayout.emailViewMobile = !emailLayout.emailViewMobile; emailLayout.emailNavMobile = !emailLayout.emailNavMobile" class="btn btn-info btn-block button__send">Enviar</a>
                    
                        <div class="list-view-group-container" *ngIf="mensagens.length > 0">
                            
                            <ul class="email-list-item">
                                <li class="email-item" *ngFor="let mensagem of mensagens; let i=index" [ngClass]="{'selected': this.isSelected(mensagem)}" (click)="onSelect(mensagem.id); emailLayout.emailViewMobile = !emailLayout.emailViewMobile"> 
                                    <!--<div class="email-tick">
                                        <div class="checkbox"> 
                                            <input type="checkbox" id="email-{{i}}" checked="checked"> 
                                            <label for="email-{{i}}"></label> 
                                        </div> 
                                    </div>-->
                                    <div class="email-detail"> 
                                        <p class="from">{{mensagem.nome}}</p>
                                        <p class="from">{{mensagem.login}}</p>
                                        <p class="subject">
                                            {{mensagem.assunto | slice:0:20}}
                                            {{mensagem.assunto.length > 20 ? '...' : ''}}
                                        </p> 
                                        <p> 
                                            {{formatBody(mensagem.mensagem) | slice:0:30}}
                                            {{formatBody(mensagem.mensagem).length > 30 ? '...' : ''}}
                                        </p> 
                                        <span class="datetime">{{this.getSendData(mensagem.data_envio)}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="email-content" [ngClass]="{'open': emailLayout.emailViewMobile}">
                    <div class="email-content-tools">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" (click)="emailLayout.emailViewMobile = !emailLayout.emailViewMobile">
                                        <i class="ti-arrow-circle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
    <!--<div class="email-content-tools bg-transparent">
    
        <ul class="text-right">
            <li>
                <a href="">
                    <i class="fa fa-reply"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ti-star"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ti-flag"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ti-more-alt"></i>
                </a>
            </li>
        </ul>
    </div>-->
    <div class="email-content-wrapper relative">
        <div class="absolute-center empty-message" *ngIf="!mensagem">
            <i class="ti-email icon"></i>
            <h4 class="message" *ngIf="!loading">Sua Caixa de Entrada <br/>está vazia.</h4>
            <h4 class="message" *ngIf="!!loading">Carregando sua Caixa de Entrada.</h4>
        </div>
        <div class="email-content-detail" *ngIf="mensagem">
            <div class="detail-head">
                <ul class="list-unstyled list-info">
                    <li>
                        <div class="pdd-vertical-10 pdd-horizon-20">	
                            <img class="profile-img img-fluid" src="assets/images/no_picture.png" width="40">
                            <div class="info">
                                <span class="title font-size-16">{{mensagem.nome}} - {{mensagem.login}}</span>
                                <span class="sub-title">
                                    <span>Para: {{mensagem.destinatario}}</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="tools">
                    <li class="font-size-13">{{this.getSendData(mensagem.data_envio)}}</li>
                    <!--<li class="d-none d-md-inline-block">
                        <a href="javascript: void(0)" title="Clique aqui para responder a esta mensagem">
                            <i class="fa fa-reply"></i>
                        </a>
                    </li>-->
                    <li class="d-none d-md-inline-block" (click)="delete(mensagem.id)" *ngIf="this.isOwner(mensagem.login)">
                        <a href="javascript: void(0)" title="Você deseja deletar esta mensagem?">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </li>
                    <!--<li class="d-none d-md-inline-block">
                        <a href="">
                            <i class="ti-more-alt"></i>
                        </a>
                    </li>-->
                </ul>
            </div> 
            <div class="detail-body">
                <h4>{{mensagem.assunto}}</h4>
                <div class="mrg-top-15" [innerHtml]="mensagem.mensagem"></div>
            </div>    
            <div class="detail-foot" *ngIf="mensagem.link_arquivo != ''">
                <ul class="attachments">
                    <li *ngIf="!this.isFileJpg(mensagem.link_arquivo)">
                        <a [href]="mensagem.link_arquivo" target="_blank" title="Clique aqui para visualizar o anexo em PDF">
                            <div class="file-icon">
                                    <i class="fa fa-file-pdf-o"></i> 
                            </div>
                            <div class="file-info">
                                <span class="file-name ">Anexo.pdf</span>
                            </div>
                        </a>
                    </li>
                    <li *ngIf="this.isFileJpg(mensagem.link_arquivo)">
                        <a [href]="mensagem.link_arquivo" target="_blank" title="Clique aqui para visualizar o anexo em JPG">
                            <div class="file-icon">
                                    <i class="fa fa-file-image-o"></i> 
                            </div>
                            <div class="file-info">
                                <span class="file-name ">Anexo.jpg</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
                    <!--<router-outlet></router-outlet>-->
                </div>
            </div>
        </div>	
    </div>