<footer class="container-fluid no-print">
    <div class="footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-left">
                <ul class="list-inline appdownload mb-3 mb-sm-0">
                    <li class="list-inline-item d-block d-sm-inline-block mb-1 mb-sm-0">
                        <span class="text">Baixe agora o app da BCFNet.</span>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://play.google.com/store/apps/details?id=com.bcf.bcfnet&amp;hl=pt_BR" target="_blank">
                            <img src="assets/images/mobile/google.jpg" alt="Google Play" title="Google Play" class="brand-store"
                                width="100">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://itunes.apple.com/br/app/bcfnet/id1084446866?mt=8" target="_blank">
                            <img src="assets/images/mobile/apple.jpg" alt="App Store" title="App Store" class="brand-store"
                                width="100">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 text-left text-sm-right mb-3 mb-sm-0">
                <div class="copyright">
                    <span>Copyright © {{ currentYear }}
                        <b class="text-dark">BCFNet</b>. <br class="d-block d-sm-none">Todos os direitos reservados.</span>
                </div>
            </div>
        </div>
    </div>
</footer>