<div class="container-fluid">
    <div class="page-title">
        <h4>Atualizar Aviso</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-7">
                            <h4 class="card-title">Atualize seu aviso no formulário a seguir.</h4>
                            <p>Todos os campos que possuírem <span class="text-danger">*</span> são campos obrigatórios.</p>
                            <form class="form-horizontal mrg-top-40 pdd-right-30" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label">Título <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" formControlName="titulo" placeholder="Nome" data-cip-id="form-1-1" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-3" class="col-md-2 control-label">Data de Expiração <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                          <input type="text" class="form-control" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" formControlName="data_expiracao" placeholder="dd/mm/yyyy"/>
                                    </div>
                                </div>
                                <div class="form-group row" *ngIf="this.permissionService.isAdmin()">
                                    <label for="form-1-3" class="col-md-2 control-label">Visualização <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                            <select class="form-control" formControlName="visualizacao">
                                                <option value="todos">Todos</option>
                                                <option value="sindicos">Síndicos</option>
                                                <option value="condominos">Condôminos</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-5" class="col-md-2 control-label">Mensagem <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                      <textarea class="form-control" rows="3" formControlName="mensagem" placeholder="Digite aqui o assunto" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-12">
                                    <div class="text-right mrg-top-15">
                                        <button type="submit" class="btn btn-primary">Criar</button>
                                        <button type="reset" class="btn btn-default">Limpar</button>
                                    </div>
                                  </div>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </div>