<div class="container-fluid min-height">
    <div class="page-title">
        <h4>Cadastrar Espaço</h4>
    </div>
    <div class="card">
      <div class="card-body">
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Nome do Espaço</label>
                    <input type="text" formControlName="nome" class="form-control">
                </div>

                <div class="col-sm-6 form-group">
                    <label>Lotação</label>
                    <input type="number" formControlName="lotacao" class="form-control">
                </div>

                <div class="col-sm-4 form-group">
                    <label>Tipo de Pagamento</label>                    

                    <select formControlName="tipo_de_pagamento" class="form-control">
                        <option value="1">Boleto</option>
                        <option value="2">À vista</option>
                        <option value="3">Gratuito</option>
                    </select>
                </div>

                <div class="col-sm-4 form-group">
                    <label>Tipo de Reserva</label>
                    
                    <select formControlName="tipo_de_reserva" class="form-control">                            
                        <option value="1">Hora</option>
                        <option value="2">Diária</option>
                    </select>
                </div>

                <div class="col-sm-4 form-group">
                    <label>Imagem</label>
                    <div>
                        <input type="file" id="img-upload" (change)="upload($event)" accept="image/x-png,image/jpeg">
                    </div>
                </div>

                <div class="col-sm-12 form-group">
                    <label>Informação Adicional</label>
                    <ckeditor formControlName="informacao_adicional" [editor]="Editor" [config]="{ language: 'pt-br' }"></ckeditor>
                </div>

                <div class="col-sm-12 form-group">
                    <label>Termos da Reserva</label>                
                    
                    <ckeditor formControlName="termos" [editor]="Editor" [config]="{ language: 'pt-br' }"></ckeditor>
                </div>

                <div class="col-sm-6 form-group">
                    <label>Preço <small>Exemplo: 100,00</small></label>
                    <input type="text" formControlName="preco" class="form-control">
                </div>

                <div class="col-sm-6 form-group">                    
                    <label>Limite máximo de reservas por unidade</label>
                    <input type="number" formControlName="limite_horas" class="form-control" min="1" max="24">
                </div>

                <div class="col-sm-6 mb-3">
                    <label>Limite de tempo para o cancelamento</label>

                    <div class="form-check">
                        <label class="form-check-label" for="toggle-limit">
                            <input class="form-check-input" type="radio" id="toggle-limit" name="toggle-limit" (change)="showDay=true"> Dias
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label" for="toggle-limit2">
                            <input class="form-check-input" type="radio" id="toggle-limit2" name="toggle-limit" (change)="showDay=false">Horas
                        </label>
                    </div>
                </div>

                <div class="col-sm-6 form-group" [ngClass]="{ 'd-block': showDay, 'd-none': '!showDay' }">
                    <label>Limite Cancelamento Dias</label>
                    <input type="number" formControlName="limite_cancelamento_dias" class="form-control" min="1" max="30">
                </div>
                
                <div class="col-sm-6 form-group" [ngClass]="{ 'd-block': showDay === false, 'd-none': 'showDay' }">
                    <label>Limite Cancelamento Horas</label>
                    <input type="number" formControlName="limite_cancelamento_horas" class="form-control" min="1" max="24">
                </div>

                <div class="col-sm-12"></div>

                <div class="col-sm-6">
                    <label>Dias</label>
                    <div *ngFor="let day of form.controls['days']['controls']; let idx = index">
                        <div class="float-left mr-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="day" [id]="'days-' + idx">
                                <label class="form-check-label" [for]="'days-' + idx">{{daysWeek[idx]}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <label>Horários</label>
                    <div *ngFor="let hour of form.controls['hours']['controls']; let idx = index">
                        <div class="float-left mr-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="hour" [id]="'hours-' + idx">
                                <label class="form-check-label" [for]="'hours-' + idx">{{listHours[idx]}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mt-3">
                    <label><input type="checkbox" formControlName="aprovacao_automatica"> Aprovação automática?</label>                    
                </div>

                <div class="col-sm-12 mt-4">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </form>
      </div>
    </div>
</div>
