.m-20 {
    margin: 20px 0;
}

.card-block {
    padding: 30px;
}

.action {
    line-height: 40px;
    width: 15px;
    text-align: center;
    font-size: 17px;
    border-radius: 50px;
    /* float: left; */
    color: #8c90ab;
}