<div class="container-fluid">
    <div class="page-title">
        <h4>Arquivos deste Condomínio</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="page-title">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">
                            Arquivos somente da unidade:
                            <div class="row" *ngIf="!this.permissionService.isProprietario()">
                                <div class="col-md-6 col-xs-12">
                                    <select name="unidade" id="unidade" class="form-control m-20" (change)="onChange($event.target.value)">
                                        <option [value]="this.userService.getUserLogin()" selected="selected">--</option>
                                        <option *ngFor="let unidade of unidades" [value]="unidade.LoginUnidade">--
                                            {{unidade.LoginUnidade}} - {{unidade.Nome_do_Cliente}}</option>
                                    </select>
                                </div>
                            </div>
                        </h5>
                        <div class="table-overflow">
                            <div id="dt-opt_wrapper" class="dataTables_wrapper no-footer">
                                <!--<div class="dataTables_length" id="dt-opt_length"><label>Exibir <select name="dt-opt_length"
                                            aria-controls="dt-opt" class="">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> resultados</label></div>
                                <div id="dt-opt_filter" class="dataTables_filter"><label>Mostrar:<input type="search"
                                            class="" placeholder="" aria-controls="dt-opt"></label></div>-->
                                <div class="table-responsive">                                        
                                    <table id="dt-opt" class="table table-lg table-hover dataTable no-footer" role="grid"
                                        aria-describedby="dt-opt_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1"
                                                    aria-label="Name: activate to sort column ascending" style="width: 232px;">Arquivo</th>
                                                <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1"
                                                    aria-label="Status: activate to sort column ascending" style="width: 174px;">Data
                                                    Inicial</th>
                                                <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1"
                                                    aria-label="Status: activate to sort column ascending" style="width: 174px;">Data
                                                    de Expiração</th>
                                                <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1"
                                                    aria-label=": activate to sort column ascending" style="width: 67px;"
                                                    *ngIf="!this.permissionService.isProprietario()">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" *ngFor="let arquivo of arquivos">
                                                <td width="200"><a [href]="arquivo.link_arquivo"
                                                        target="_blank">
                                                        {{arquivo.arvore}}
                                                    </a></td>
                                                <td width="160">
                                                    {{arquivo.data_inicial}}
                                                </td>
                                                <td width="160">
                                                    {{arquivo.data_expiracao}}
                                                </td>
                                                <td width="20" align="center" *ngIf="!this.permissionService.isProprietario()">
                                                    <a [routerLink]="['/documentos/p/' + arquivo.id]" title="Clique para editar"
                                                        class="pdd-right-10">
                                                        <i class="ei ei-file-edit action"></i>
                                                    </a>
                                                    <a href="javascript:void(0);" title="Clique para remover" (click)="delete(arquivo.login_internet, arquivo.id)">
                                                        <i class="ei ei-file-delete action"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--<div class="dataTables_info" id="dt-opt_info" role="status" aria-live="polite">Showing 1 to 10 of 12 entries</div><div class="dataTables_paginate paging_simple_numbers" id="dt-opt_paginate"><a class="paginate_button previous disabled" aria-controls="dt-opt" data-dt-idx="0" tabindex="0" id="dt-opt_previous">Previous</a><span><a class="paginate_button current" aria-controls="dt-opt" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="dt-opt" data-dt-idx="2" tabindex="0">2</a></span><a class="paginate_button next" aria-controls="dt-opt" data-dt-idx="3" tabindex="0" id="dt-opt_next">Next</a></div></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>