.tag {
     background-color: #289cff;
     border: 0;
     border-radius: 35px;
     padding: 15px 20px;

     &:hover {
          background-color: #d01d2f;
     }

     .tag__icon {
          margin-left: 5px;
     }
}