<app-balancete name="Comparativo Mês Anterior" [loading]="loading" [childData]="data">
  <!-- Conta 001 -->
  <div class="table-responsive">
    <table class="table table-hover" id="table" #table style="margin-bottom: 0px; min-height: 600px;">
      <thead>
          <tr>
              <th style="width: 20%;">Classificação</th>
              <th style="width: 20%;">Mês Passado</th>
              <th style="width: 20%;">Mês Anterior</th>
              <th style="width: 20%;">Var ($)</th>
              <th style="width: 20%;">Var (%)</th>
          </tr>
      </thead>
      <tbody>
          <!--<tr>
              <td><b style="color: #3e5e79;">001 - Condomínio</b></td>
              <td class="text-right"></td>
          </tr>-->
          <!--<tr *ngIf="data.length == 0">
              <td class="text-center" colspan="4" width="100%">Não há competência para este mês.</td>
          </tr>-->
          <tr *ngFor="let balancete of data"
          [ngClass]="{
            'subheading': balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0,
            'subheading2': (balancete.Campo1.length == 0 && balancete.Campo2.length != 0 && balancete.Campo3.length != 0) || (balancete.Campo1 == 'DEMONSTRATIVO DE SALDOS'),
            'text-center': balancete.Campo1 == 'DEMONSTRATIVO DE SALDOS'
          }">
            <td [ngClass]="{ 'subheading3': balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0 }" 
              [colSpan]="balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0 ? 5 : ''">
              {{this.utils.utf8_decode(balancete.Campo1)}}
            </td>
            <td class="text-center" [hidden]="balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0">
              <span>
                    <span *ngIf="this.utils.isString(balancete.Campo2)">
                            {{this.utils.utf8_decode(balancete.Campo2)}}
                    </span>
                    <span *ngIf="!this.utils.isString(balancete.Campo2)">
                            R$ {{balancete.Campo2}}
                    </span>
              </span>
            </td>
            <td *ngIf="balancete.Campo3.length != 0" [colSpan]="balancete.Campo4.length == 0 ? 3 : 0">
              <span [hidden]="balancete.Campo3.length == 0">
                    <span *ngIf="this.utils.isString(balancete.Campo3)">
                            {{this.utils.utf8_decode(balancete.Campo3)}}
                    </span>
                    <span *ngIf="!this.utils.isString(balancete.Campo3)">
                            R$ {{balancete.Campo3}}
                    </span>
              </span>
            </td>
            <td *ngIf="balancete.Campo4.length != 0" [colSpan]="balancete.Campo5.length == 0 ? 2 : 0">
              <span [hidden]="balancete.Campo4.length == 0">
                    <span *ngIf="this.utils.isString(balancete.Campo4)">
                            {{this.utils.utf8_decode(balancete.Campo4)}}
                    </span>
                    <span *ngIf="!this.utils.isString(balancete.Campo4)">
                            R$ {{balancete.Campo4}}
                    </span>
              </span>
            </td>
            <td *ngIf="balancete.Campo5.length != 0" [colSpan]=" balancete.Campo4.length == 0 && balancete.Campo3.length == 0 ? 3 : 0">
              <span [hidden]="balancete.Campo5.length == 0">
                    <span *ngIf="this.utils.isString(balancete.Campo5)">
                            {{this.utils.utf8_decode(balancete.Campo5)}}
                    </span>
                    <span *ngIf="!this.utils.isString(balancete.Campo5)">
                            {{balancete.Campo5}} %
                    </span>
              </span>
            </td>
        </tr>
      </tbody>
    </table>   
  </div>
</app-balancete>