<div class="container-fluid">
    <div class="page-title">
        <h4>Reservas</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div *ngIf="this.permissionService.isSindico()" class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
                    <ul class="list-unstyle list-inline text-right">
                        <!-- <li class="list-inline-item">
                            <a (click)="exportAsPDF()" class="hover text-gray text-hover display-block padding-10 no-mrg-btm">
                                <i class="fa fa-file-pdf-o text-danger pdd-right-5"></i>
                                <b>Exportar PDF</b>
                            </a>
                        </li> -->
                        <li class="list-inline-item">
                            <a (click)="exportAsCSV()" class="text-gray text-hover display-block padding-10 no-mrg-btm hover">
                                <i class="fa fa-file-text-o text-success pdd-right-5"></i>
                                <b>Exportar CSV</b>
                            </a>
                        </li>
                        <!-- <li class="list-inline-item">
                            <a class="hover btn text-gray text-hover display-block padding-10 no-mrg-btm" (click)="exportAsPrint()">
                                <i class="ti-printer text-info pdd-right-5"></i>
                                <b>Imprimir</b>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="container-fluid">
                    <div class="page-title">
                    </div>
                    <div class="card-block">
                        <form *ngIf="this.permissionService.isSindico()" novalidate [formGroup]="form" (ngSubmit)="onSubmit()" class="form-row">
                            <div class="form-group col-sm-2">
                                <label>Espaço</label>
                                <select class="form-control" style="height: 42px;" formControlName="espacoId">
                                    <option value="">Todos</option>
                                    <option value="{{ item.id }}" *ngFor="let item of espacos; let idx = index">{{ item.nome }}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Nome Usuário</label>
                                <input type="text" class="form-control" formControlName="nomeUsuario">
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Login Usuário</label>
                                <input type="text" class="form-control" formControlName="loginUsuario">
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Status</label>
                                <select class="form-control" style="height: 42px;" formControlName="status">
                                    <option value="">Todos</option>
                                    <option value="0">Aguardando</option>
                                    <option value="1">Aprovado</option>
                                    <option value="2">Reprovado</option>
                                    <option value="3">Cancelado</option>
                                </select>
                            </div>                            
                            <div class="form-group col-sm-4">
                                <label>Data Reserva</label>                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input 
                                            class="form-control" 
                                            placeholder="dd-mm-yyyy" 
                                            name="dp1" 
                                            [(ngModel)]="model1"
                                            formControlName="dataInicio"
                                            ngbDatepicker 
                                            #d1="ngbDatepicker"
                                            autocomplete="off"
                                            (click)="d1.toggle()">
                                    </div>

                                    <div class="col-sm-6 position-relative">
                                        <small style="float:left;position:absolute;left:-9px;top:14px;">Até</small>
                                        <input 
                                            class="form-control" 
                                            placeholder="dd-mm-yyyy" 
                                            name="dp2" 
                                            [(ngModel)]="model2" 
                                            formControlName="dataFim"
                                            ngbDatepicker 
                                            #d2="ngbDatepicker"                                            
                                            autocomplete="off"
                                            (click)="d2.toggle()">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">                                
                                <button class="btn btn-primary pull-right mr-0 mb-0">Buscar</button>
                            </div>
                        </form>
                      <div class="table-overflow" id="reservas">
                        <div id="dt-opt_wrapper" class="dataTables_wrapper no-footer">
                            <div class="table-responsive">
                                <table id="dt-opt" class="table table-lg table-hover dataTable no-footer" role="grid" aria-describedby="dt-opt_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" style="width: 100px;">Unidade</th>
                                            <th class="sorting" style="width: 150px;">Espaço</th>                                                
                                            <th class="sorting" style="width: 150px;">Nome/Login</th>
                                            <th class="sorting">Dia Reserva</th>
                                            <th class="sorting">Horas</th>
                                            <th class="sorting">Total Convidados</th>
                                            <th class="sorting">Preço</th>
                                            <th class="sorting">Solicitação</th>
                                            <th class="sorting" style="width: 100px;">Status</th>
                                            <th class="sorting" style="width: 100px;">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="datas.length == 0 && loading == false">
                                            <td class="text-center" colspan="4" width="100%">Não há reservas.</td>
                                        </tr>
                                        <tr role="row" *ngFor="let data of datas">
                                            <td>{{ data.complemento_unidade }}</td>
                                            <td>{{ data.espaco.nome }}</td>
                                            <td>
                                                {{ data.nome_do_cliente }} /
                                                {{ data.condomino }}
                                            </td>
                                            <td>{{ data.data | date: 'dd/MM/yyyy' }}</td>
                                            <td><span style="word-break: break-word!important;overflow-wrap: break-word!important;">{{ data.horas_reservadas }}</span></td>
                                            <td>
                                                {{ data.total_convidados }} -
                                                <a href="javascript:void(0)" (click)="openModal(data.nome_convidados)" data-toggle="modal" data-target="#modal">Ver</a>
                                            </td>
                                            <td>{{ data.preco | currency: 'BRL': 'symbol' }}</td>
                                            <td>{{ data.criado_em | date: 'dd/MM/yyyy' }}</td>
                                            <td>{{ data.status == 1 ? 'Aprovado' : (data.status == 2 ? 'Reprovado' : (data.status == 3 ? 'Cancelado' : 'Aguardando')) }}</td>                                                
                                            <td width="20">
                                                <div [ngClass]="{ 'd-none': data.status == 1 }" *ngIf="permissionService.isSindico()">
                                                    <button class="btn btn-primary w-100 btn-sm" (click)="approve(data.id)">Aprovar</button>
                                                </div>
                                                <button class="btn btn-default w-100 btn-sm" (click)="disapprove(data.id)" *ngIf="permissionService.isSindico()">Reprovar</button>
                                                <button class="btn btn-default w-100 btn-sm" (click)="disapprove(data.id, 3)" *ngIf="!permissionService.isSindico() && data.status != 2 && data.status != 3">Cancelar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                            
                            <!--<div class="dataTables_info" id="dt-opt_info" role="status" aria-live="polite">Showing 1 to 10 of 12 entries</div><div class="dataTables_paginate paging_simple_numbers" id="dt-opt_paginate"><a class="paginate_button previous disabled" aria-controls="dt-opt" data-dt-idx="0" tabindex="0" id="dt-opt_previous">Previous</a><span><a class="paginate_button current" aria-controls="dt-opt" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="dt-opt" data-dt-idx="2" tabindex="0">2</a></span><a class="paginate_button next" aria-controls="dt-opt" data-dt-idx="3" tabindex="0" id="dt-opt_next">Next</a></div></div>-->
                        </div>
                  </div>    
            </div>
        </div>
    </div>
</div>

<app-modal></app-modal>