<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="min-height: 750px">
          <div class="card-heading">
            <div class="row">
              <div class="col-md-6">
                  <h4 class="card-title inline-block">{{masonryItems.length}} Imagens</h4>
              </div>
              <div class="col-md-6 text-right" *ngIf="!!this.permissionService.isSindico()">
                <button class="btn btn-primary" [routerLink]="['/album/cadastrar-fotos']">+ Adicionar Fotos</button>
              </div>
            </div>
            <!--<div class="pull-right mrg-top-10">
              <span class="pdd-right-10">Filtrar por : </span>
              <ul class="list-unstyled list-inline inline-block">
                <li class="list-inline-item pdd-right-10">
                  <a href="javascript: void(0);" class="text-gray text-semibold active">Nome</a>
                </li>
                <li class="list-inline-item pdd-right-10">
                  <a href="javascript: void(0);" class="text-gray text-semibold">Data</a>
                </li>
                <li class="list-inline-item pdd-right-10">
                  <a href="javascript: void(0);" class="text-gray text-semibold">Mais vistas</a>
                </li>
              </ul>
            </div>-->
          </div>
          <div class="card-body">  
            <ngx-masonry class="row" [useImagesLoaded]="true">
              <ngxMasonryItem class="col-md-3 masonry-brick masonry-item mrg-btm-30" *ngFor="let item of masonryItems; let i = index;">
                <div class="gallery-item">
                    <i class="ti ti-close button__delete" (click)="delete(item.id)"></i>
                    <img class="img-fluid" [src]="item.src" alt="">
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="inline-block">
                                <h4 class="caption-title">{{ item.title }}</h4>
                                <span class="caption-date">{{ item.date }}</span>
                            </div>
                            <!--<div class="inline-block pull-right pdd-top-20 font-size-16">
                                <i class="ti-heart text-white"></i>
                                <span class="text-white">18</span>
                            </div>-->
                        </div>
                    </div>
                </div>
              </ngxMasonryItem>
            </ngx-masonry>
          </div>
        </div>
      </div>
    </div>				
  </div>