.button__delete {
    background-color: #d01d2f;
    color: #fff;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    right: 0;
    position: absolute;
    z-index: 99999;
}