<div class="container-fluid">
  <div class="page-title">
    <h4>Localização do seu condomínio</h4>
  </div>
  <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
              <div class="maps map-fs">
                  <iframe [src]="address" width="100%" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>
                  <!--<ngui-map [options]="mapConfig" [center]="address"></ngui-map>-->
              </div>
            </div>
        </div>
    </div>
  </div>
</div>