<div class="container-fluid">
  <div class="page-title">
        <h4>Painel de Controle (Locatário)</h4>
        <h5>Olá, <b>{{this.account.NomeCompleto}}</b>!</h5>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-tiles>
          <app-tile title="Administrativo e Documentos" icon="ti-layout-media-overlay" url="/documentos/gerenciar-arquivos"></app-tile>
          <app-tile title="2ª via de boleto para pagamento" icon="ti-money" url="/financeiro/segunda-via-de-boletos"></app-tile>
          <app-tile title="Enviar mensagem" icon="ti-email" url="/mensagens/cadastrar"></app-tile>
          <app-tile title="Avisos da Administradora" icon="ti-announcement" url="/avisos/avisos-da-administradora"></app-tile>
          <app-tile title="Visualizar álbum" icon="ei ei-picture" url="/album/visualizar-album"></app-tile>
          <app-tile title="Alterar Dados Cadastrais e Pagamento" icon="fa fa-edit" url="/perfil"></app-tile>
      </app-tiles>
    </div>
  </div>    
</div>