<div class="container-fluid min-height">
    <div class="page-title">
        <h4>Cadastrar Fotos ao álbum do seu condomínio</h4>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
              <p>Selecione arquivos do seu computador</p>
              <div>
                    <label for="img-upload" class="pointer">
                        <span class="btn btn-default display-block no-mrg-btm">Escolher arquivo</span>
                        <input class="d-none" type="file" name="uploadedimages0" multiple="true" id="img-upload" (change)="upload($event)">
                    </label>
                </div>
                <br>
              <!--<p>Ou use a ferramenta "Clicar e arrastar" a seguir:</p>-->
          </div>
        </div>
          <!--<div class="row">
                <div [class]="files.length > 0 ? 'col-md-6' : 'col-md-12'">
                        <file-drop headertext="Selecione a foto que desejar e arraste os arquivos aqui" (onFileDrop)="dropped($event)" 
                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" customstyle="dropzone">
                        </file-drop>
                  </div>
                  <div class="col-md-6" [hidden]="files.length === 0">
                        <div class="upload-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Tamanho</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody class="upload-name-style">
                                        <tr *ngFor="let item of files; let i=index">
                                            <td><strong>{{ item.relativePath }}</strong></td>
                                            <td><strong>{{ item.size }} kb</strong></td>
                                            <td (click)="delete(i)" class="text-danger hover"><strong>
                                                <i class="fa fa-close"></i>
                                            </strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                  </div>
          </div>  
          <div class="row" [hidden]="files.length === 0">
              <div class="col-md-12">
                <div class="text-right mrg-top-15">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
                </div>
              </div>
            </div>  -->
      </div>
    </div>
</div>
