<app-balancete name="Balancete Sintético" [loading]="loading" [childData]="data" (periodo)="onChange($event)">
  <!-- Conta 001 -->
  <div class="table-responsive">
    <table class="table table-hover" id="table" style="margin-bottom: 0px; min-height: 600px;">
      <thead>
          <tr>
              <th style="width: 40%">Descrição da Conta</th>
              <th style="width: 60%" class="text-right">Valor</th>
          </tr>
      </thead>
      <tbody>
          <!--<tr>
              <td><b style="color: #3e5e79;">001 - Condomínio</b></td>
              <td class="text-right"></td>
          </tr>-->
          <!--<tr *ngFor="let balancete of data"
            [hidden]="balancete.Campo1.length !== 0 && balancete.Campo2.length !== 0 && balancete.Campo3 != ' ' && balancete.Campo4 != ' '"
            [ngClass]="{
              highlight: balancete.Campo1.length != 0 && balancete.Campo4 == 0
            }">-->
            <tr *ngFor="let balancete of data"
            [ngClass]="{
              'subheading': balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0,
              'subheading2 text-center': balancete.Campo1.trim() == 'FECHAMENTO DE SALDOS'
            }">
            <td 
              [ngClass]="{
                'subheading3': balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0, 
                'bold subheading': balancete.Campo1 == 'Descrição da Conta' && balancete.Campo2 == 'Valor'
              }" 
              [colSpan]="(balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0) || (balancete.Campo1.length != 0 && balancete.Campo2 == ' ' && balancete.Campo3 == ' ')  ? 2 : ''"
            >
            {{balancete.Campo1}}</td>
            <td 
              [ngClass]="{
                'text-right': true,
                'bold subheading': balancete.Campo1 == 'Descrição da Conta' && balancete.Campo2 == 'Valor'
              }"
              *ngIf="balancete.Campo1.trim().length == 0 && balancete.Campo2.trim().length !== 0 && balancete.Campo3.trim().length == 0 || balancete.Campo1.trim().length !== 0 && balancete.Campo2.trim().length !== 0"
            >
              <span [hidden]="balancete.Campo1.trim().length != 0 && balancete.Campo2.trim().length == 0 && balancete.Campo3.trim().length == 0">
                <ng-container *ngIf="balancete.Campo2.trim().length != 0">
                    <span *ngIf="this.utils.isString(balancete.Campo2)">
                        {{balancete.Campo2}}
                    </span>

                    <span *ngIf="!this.utils.isString(balancete.Campo2)">
                            R$ {{balancete.Campo2}}
                    </span>
                </ng-container>
                {{balancete.Campo3}}
              </span>
            </td>
            <!--<td [hidden]="balancete.Campo4 == 0">
              {{this.utils.convertToNumber(balancete.Campo4) | currency: 'BRL' }}
            </td>-->
          </tr>
      </tbody>
    </table>   
  </div>
</app-balancete>