<div class="widget card h-100">
    <div class="card-heading border bottom">
        <div class="row">
            <div class="col-md-6">
                <h4 class="card-title">Luz e Força</h4>
            </div>
            <div class="col-md-6 text-right">
                <form action="POST" class="form-inline float-right"> 
                    Período: 
                    <select class="form-control" name="periodo" (change)="onChange($event.target.value)">
                        <option *ngFor="let data of labels.reverse()" value="{{data}}">{{data}}</option>
                    </select>
                </form>
            </div>
        </div>        
    </div>
  <div class="card-block">
      <div class="row">
        <div class="col-12">
            <div class="text-center pdd-vertical-10">
                <h2 class="font-primary no-mrg-top">{{ TotalDespesas.Luz_Forca | currency: 'BRL' }}</h2>
                <p class="no-mrg-btm">Luz e Força</p>
            </div>
        </div>
    </div>
      <div class="row">
          <div class="col-md-12">
            <div class="card-block">
                <div class="aspect-ratio-16-9">
                    <div class="aspect-ratio-child">
                        <canvas *ngIf="loaded" baseChart #baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>