<div class="container-fluid">
    <div class="page-title">
        <div class="page-title">
            <h4>Administração de Condomínios</h4>
            <h5 *ngIf="this.permissionService.isAdmin()">Olá, <b>BCFAdm</b>!</h5>
            <h5 *ngIf="this.permissionService.isGerente()">Olá, <b>Gerente</b>!</h5>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12"  *ngIf="this.permissionService.isAdmin()">
          <div class="row">
              <div class="col-md-3 col-xs-12 mrg-bottom-15" *ngIf="this.permissionService.isAdmin()">
                  <div class="bcf-card card">
                      <a [routerLink]="['/mensagens/cadastrar']" title="Clique para enviar uma mensagem" >
                        <div class="card-title">
                          <i class="ti-email"></i>
                        </div>
                        <div class="card-body">
                          Enviar <br/>mensagem
                        </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-xs-12 mrg-bottom-15" *ngIf="this.permissionService.isAdmin()">
                    <div class="bcf-card card">
                        <a [routerLink]="['/mensagens']" title="Clique para ver suas mensagens" >
                          <div class="card-title">
                            <i class="ti-email"></i>
                          </div>
                          <div class="card-body">
                            Central de <br/>Mensagens
                          </div>
                        </a>
                    </div>
                </div>
              <div class="col-md-3 col-xs-12 mrg-bottom-15" *ngIf="this.permissionService.isAdmin()">
                  <div class="bcf-card card">
                      <a [routerLink]="['/avisos']" title="Clique para enviar aviso para todos os condomínios" >
                        <div class="card-title">
                          <i class="ti-announcement"></i>
                        </div>
                        <div class="card-body">
                          Quadro <br/>de avisos
                        </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-xs-12 mrg-bottom-15" *ngIf="this.permissionService.isAdmin()">
                    <div class="bcf-card card">
                        <a [routerLink]="['/avisos/cadastrar-aviso']" title="Clique para enviar aviso para todos os condomínios" >
                          <div class="card-title">
                            <i class="ei ei-open-book"></i>
                          </div>
                          <div class="card-body">
                            Avisos para <br/>todos os condomínios
                          </div>
                        </a>
                    </div>
                </div>
              <div class="col-md-3 col-xs-12 mrg-bottom-15"  *ngIf="this.permissionService.isAdmin()">
                  <div class="bcf-card card">
                      <a href="http://www.bcfadm.com.br/bcfnet/administracao/condominios/listar_condominios" title="Clique para exportar todos os condomínios" target="_blank">
                        <div class="card-title">
                          <i class="fa fa-file-excel-o"></i>
                        </div>
                        <div class="card-body">
                          Exportar todos os <br/>Condomínios
                        </div>
                      </a>
                  </div>
              </div>
              
          </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="row">
          <div class="col-md-12">
              <div class="card">          
                  <div class="card-block">
                      <h4 class="card-title">Condomínios (Filtrar por Nome ou Código)</h4>
                      <div class="form-group">
                          <ng-selectize [config]="singleSelectConfig" [options]="singleSelectOptions" 
                          [(ngModel)]="singleSelectValue" [ngModelOptions]="{standalone: true}" ngDefaultControl></ng-selectize>
                      </div>
                      <div class="form-group mrg-top-15">
                          <input type="button" class="btn btn-info" value="Entrar" (click)="swap()">
                          <input type="button" class="btn btn-primary" value="Listar" (click)="open()">
                      </div> 
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>    
</div>