<div class="card h-100 calendar-event">
    <div class="card-block overlay-dark bg" style="background-image: url('assets/images/others/img-8.jpg')">
        <div class="text-center">
            <h1 class="font-size-65 text-light lh-1">Agenda
                <span class="font-size-18"></span>
            </h1>
        </div>
    </div>
    <div class="card-block">
        <p class="text-center" *ngIf="arquivos.length === 0 && loading === false">Não há itens futuros cadastrados na agenda.</p>
        <!--<button type="button" class="add-event btn-warning" ng-click="ctrl.addEvent()">
            <i class="ti-plus"></i>
        </button>-->
        <ul class="event-list" *ngIf="arquivos.length > 0">
            <li class="event-items ng-scope" *ngFor="let arquivo of arquivos">
                <a [href]="arquivo.link_arquivo" target="_blank" title="Clique aqui para visualizar este arquivo">
                    <span class="bullet success"></span>
                    <span class="event-name ng-binding">{{arquivo.arvore}}</span><br>
                    <span class="event-detail">
                        Publicada no dia {{arquivo.data_inclusao}}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>


<!--<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="padding-15">
                    <div class="row text-center">
                        <h4 class="modal-title">{{ getModalTitle() }}</h4>
                    </div>
                    <div class="row">
                        <div class="ml-auto col-md-12">
                            <iframe width="100%" height="100%" [src]="this.url"  *ngIf="this.loading === false;"></iframe>
                        </div>
                    </div>
                    <div class="navigation">
                        <a href="javascript: void(0)" class="navigation__arrow--left" (click)="previous()">
                            <i class="fa fa-chevron-left arrow-left"></i>
                        </a>
                        <a href="javascript: void(0)" class="navigation__arrow--right" (click)="next()">
                            <i class="fa fa-chevron-right arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->