.condominios {
    height: 500px;
    margin-top: 10px;
    cursor: pointer;

    &__second {
        width: 100%;
    }

    &__item:hover, &__item--selected {
        background: #1c2d62;
        color: #fff;
    }

    &__nome {
        margin-top: 10px;
        display: block;
        font-size: 12px;
        font-weight: bold;
    }
}

.tag {
    background-color: #289cff;
    border: 0;
    border-radius: 35px;
    padding: 15px 20px;

    &:hover {
         background-color: #d01d2f;
    }

    .tag__icon {
         margin-left: 5px;
    }
}