<div class="container-fluid">
    <div class="page-title">
        <h4>Central de Mensagens</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal mrg-top-40 pdd-right-30" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="card-block">

                        <div class="row">
                            <div class="col-md-7">
                                <h4 class="card-title">Entre em contato</h4>
                                <p>Todos os campos que possuírem <span class="text-danger">*</span> são campos
                                    obrigatórios.</p>

                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label">Nome <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" formControlName="nome" placeholder="Nome"
                                            data-cip-id="form-1-1" required>
                                    </div>
                                </div>
                                <!--<div class="form-group row">
                                  <label for="form-1-3" class="col-md-2 control-label">Email <span class="text-danger">*</span></label>
                                  <div class="col-md-10">
                                      <input type="email" class="form-control" formControlName="email"  placeholder="Email" data-cip-id="form-1-3" required email>
                                  </div>
                              </div>-->
                                <div class="form-group row" *ngIf="!this.permissionService.isAdmin()">
                                    <label for="form-1-3" class="col-md-2 control-label">Quem deseja contactar? <span
                                            class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="radio" name="destinatario" formControlName="destinatario" value="0"
                                            checked="checked"> Administradora
                                        <span *ngIf="this.permissionService.isCondomino()">
                                            <input type="radio" name="destinatario" formControlName="destinatario"
                                                value="1"> Meu Síndico
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label">Assunto <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" formControlName="assunto" placeholder="Assunto"
                                            data-cip-id="form-1-1" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-5" class="col-md-2 control-label">Mensagem <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" formControlName="mensagem" placeholder="Digite aqui o assunto"
                                            required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="upload" class="col-md-2 control-label">Anexar arquivo (JPG ou PDF)</label>
                                    <label for="upload" class="pointer">
                                        <span class="btn btn-default display-block no-mrg-btm">Escolher arquivo</span>
                                        <input class="d-none" type="file" name="uploadedimages0" multiple="true" id="upload" accept="image/jpeg, application/pdf"  (change)="upload($event)">
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-5" *ngIf="this.permissionService.isAdmin()">
                                <div class="form-group row">
                                    <label for="form-1-5 full-block" class="control-label">Destinatários <span class="text-danger">*</span></label>
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info" (click)="onSelectAll()">
                                            <i class="fa fa-check"></i>
                                            Marcar Todos
                                        </button>
                                        <button type="button" class="btn btn-danger" (click)="onUnselectAll()">
                                            <i class="fa fa-close"></i>
                                            Desmarcar Todos</button>
                                        <button type="button" class="btn btn-primary tag" *ngFor="let condominio of this.form.value.clientes; let i = index;" 
                                            value="{{condominio}}"  (click)="remove(i)">
                                            <span>{{condominio}}</span>
                                            <i class="tag__icon fa fa-close"></i>
                                        </button>
                                        <table class="table table-responsive condominios">
                                            <tr *ngFor="let condominio of condominios" class="condominios__item" [ngClass]="{'condominios__item--selected': condominio.selected}" (click)="onSelect(condominio)" >
                                                <td>
                                                    <input type="checkbox" class="form-control" [checked]="condominio.selected" value="{{condominio.login_internet}}">
                                                </td>
                                                <td class="w-100">
                                                    <span class="condominios__nome">{{condominio.nome}} - {{condominio.login_internet}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="text-right mrg-top-15">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                    <button type="reset" class="btn btn-default">Limpar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>