<div class="container-fluid">
    <div class="page-title">
        <h4>Enviar Arquivo</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8">
                            <p>Os campos que possuírem <span class="text-danger">*</span> são campos obrigatórios.</p>
                            <form class="form-horizontal mrg-top-40 pdd-right-30" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-group row">
                                    <label for="form-1-2" class="col-md-2 control-label">Pasta <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <select formControlName="pasta" class="form-control">
                                            <option value="Administrativo" selected="selected">Administrativo</option>
                                            <option value="Departamento Pessoal">Departamento Pessoal</option>
                                            <option value="Documentação">Documentação</option>
                                            <option value="Financeiro">Financeiro</option>
                                            <option value="Jurídico">Jurídico</option>
                                            <option value="Técnico">Técnico</option>
                                            <option value="Informações Diversas">Informações Diversas</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-3" class="col-md-2 control-label">Tipo <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <select formControlName="tipo" class="form-control">
                                            <option value="Acompanhamento de Processos">Acompanhamento de Processos</option>
                                            <option value="Administrativo">Administrativo</option>
                                            <option value="Atas de Assembléia">Atas de Assembléia</option>
                                            <option value="Balancete">Balancete</option>
                                            <option value="Balancete Rec/Pag">Balancete Rec/Pag</option>
                                            <option value="Balancete Sintetico">Balancete Sintetico</option>
                                            <option value="Circulares Internas">Circulares Internas</option>
                                            <option value="Contas a Pagar">Contas a Pagar</option>
                                            <option value="Convenções">Convenções</option>
                                            <option value="Convocação de Assembléias">Convocação de Assembléias</option>
                                            <option value="Demonstrativos">Demonstrativos</option>
                                            <option value="Devedores">Devedores</option>
                                            <option value="Extrato de Conta Corrente">Extrato de Conta Corrente</option>
                                            <option value="Informacoes">Informacoes</option>
                                            <option value="Informe AD2-SRF">Informe AD2-SRF</option>
                                            <option value="Outros">Outros</option>
                                            <option value="Processo(s) Jurídico(s)">Processo(s) Jurídico(s)</option>
                                            <option value="Recibos">Recibos</option>
                                            <option value="Extrato">Extrato</option>
                                            <option value="Balancete Analitico">Balancete Analitico</option>
                                            <option value="Previsão Orçamentaria">Previsão Orçamentaria</option>
                                            <option value="Escala de Revezamento">Escala de Revezamento</option>
                                            <option value="Quadro de Horário de Trabalho">Quadro de Horário de Trabalho</option>
                                            <option value="Folha de Pagamento">Folha de Pagamento</option>
                                            <option value="Ficha de Funcionário(s)">Ficha de Funcionário(s)</option>
                                            <option value="Planilha de Horas Extras">Planilha de Horas Extras</option>
                                            <option value="Planejamento de Férias">Planejamento de Férias</option>
                                            <option value="Autorização de Férias">Autorização de Férias</option>
                                            <option value="Regulamento Interno">Regulamento Interno</option>
                                            <option value="Circulares da Administradora">Circulares da Administradora</option>
                                            <option value="Telefones Úteis">Telefones Úteis</option>
                                            <option value="Manuais">Manuais</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-4" class="col-md-2 control-label">Data de Expiração <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <div class="timepicker-input input-icon form-group">
                                            <i class="ti-calendar"></i>
                                            <input type="text" class="form-control" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" formControlName="data_expiracao" placeholder="Data de Expiração - dd/mm/yyyy"/>
                                        </div>
                                        <div class="form-control-feedback" *ngIf="isFieldValid('expiryDate')">
                                            <label id="state-error" class="error" for="state">O campo Data de Expiração é obrigatório.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label">Permissão <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <select name="permissao" class="form-control" formControlName="permissao" data-error="Campo Obrigatório" required="">&gt;
                                            <option value="P">Público</option>
                                            <option value="R">Restrito</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label">Unidade <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <select name="login" class="form-control" formControlName="login" data-error="Campo Obrigatório" required="">
                                            <option [value]="this.userService.getUserLogin()" selected="selected">--</option>
                                            <option *ngFor="let unidade of unidades" [value]="unidade.LoginUnidade">-- {{unidade.LoginUnidade}} - {{unidade.Nome_do_Cliente}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label">Status <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <select name="status" class="form-control" formControlName="status" data-error="Campo Obrigatório" required="">
                                            <option value="A">Ativo</option>
                                            <option value="C">Cancelado</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label p-r-0">Data Inicial</label>
                                    <div class="col-md-10">
                                        <div class="timepicker-input input-icon form-group">
                                            <i class="ti-calendar"></i>
                                            <input type="text" class="form-control" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" formControlName="data_inicial" placeholder="Data Inicial - dd/mm/yyyy"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label p-r-0">Data Final</label>
                                    <div class="col-md-10">
                                        <div class="timepicker-input input-icon form-group">
                                            <i class="ti-calendar"></i>
                                            <input type="text" class="form-control" ngbDatepicker #d3="ngbDatepicker" (click)="d3.toggle()" formControlName="data_final" placeholder="Data Final - dd/mm/yyyy"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label">Data da Inclusão <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                       <div class="timepicker-input input-icon form-group">
                                            <i class="ti-calendar"></i>
                                            <input type="text" class="form-control" ngbDatepicker #d4="ngbDatepicker" (click)="d4.toggle()" formControlName="data_inclusao" placeholder="Data de Inclusão - dd/mm/yyyy"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label">Arquivo (JPG ou PDF)</label>
                                    <div class="col-md-10">
                                        <input type="file" class="form-control" (change)="onFileChange($event)" accept="image/jpeg, application/pdf">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-5" class="col-md-2 control-label">Descrição <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" formControlName="descricao"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"  [disabled]="!form.valid">Enviar</button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>