.form-control-2 {
    color: #9094ae;
    width: 100%;
    padding-left: 36px;
    position: relative;
}

.form-control-2::before {
    position: absolute;
    left: 10px;
    top: 15px;
    font-family: 'themify';
    color: #e0e2e9;
    content: "\e6b6";
}