<div class="container-fluid">
    <div class="page-title">
        <h4>Manutenção de Gerentes</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="page-title">
                    </div>
                    <div class="card-block">   
                        <div class="table-overflow">
                            <!--<div id="dt-opt_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="dt-opt_length"><label>Exibir <select name="dt-opt_length" aria-controls="dt-opt" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> resultados</label></div>
                            --><!--<div id="dt-opt_filter" class="dataTables_filter"><label>Pesquisar:<input type="search" class="" placeholder="" aria-controls="dt-opt"></label></div>-->
                            <div id="dt-opt_filter" class="dataTables_filter">
                                <button class="btn btn-primary" [routerLink]="['/admin/gerentes/cadastrar']">+ Adicionar Gerente</button>
                            </div>
                            
                            <div class="table-responsive">
                                <table id="dt-opt" class="table table-lg table-hover dataTable no-footer" role="grid" aria-describedby="dt-opt_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 232px;">Nome</th>
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 174px;">Identificação</th>
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 174px;">Login</th>
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 174px;">Senha</th>
                                            <!--<th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 174px;">Clientes</th>-->
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 67px;">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <!--<tr *ngIf="this.avisos.length == 0 && this.loading == false">
                                        <td colspan="6" class="text-center">Não existem avisos cadastrados no momento.</td>
                                    </tr>-->
                                    <tr role="row" *ngFor="let gerente of gerentes">
                                        <td width="200">
                                            <b>{{gerente.nome}}</b>
                                        </td>
                                        <td>
                                            {{gerente.identificacao}}
                                        </td>
                                        <td width="160">
                                            {{gerente.login}}
                                        </td>
                                        <td width="160">
                                            {{gerente.senha}}
                                        </td>
                                        <!--<td width="160">
                                            {{gerente.clientes}}
                                        </td>-->
                                        <td width="20" align="center" class="hover">
                                            <a *ngIf="gerente.clientes.length > 0" (click)="open(gerente)" title="Clique aqui para visualizar o os condomínios no qual ele é gerente" data-toggle="modal" data-target="#modal">
                                                <i class="ti-search pdd-right-5"></i>
                                            </a>
                                            <a [routerLink]="['/admin/gerentes/atualizar/', gerente.id]" title="Clique para editar" class="p-r-20">
                                                <i class="ei ei-file-edit pdd-right-5 action"></i>  
                                            </a>
                                            <a href="javascript:void(0);" title="Clique para remover" (click)="delete(gerente.id)">
                                                <i class="ti-close action text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                  </div>    
            </div>
        </div>
    </div>
</div>
<app-modal></app-modal>