<div class="widget card h-100">
    <div class="card-heading border bottom">
        <div class="row">
            <div class="col-md-6">
                <h4 class="card-title">Balancete Analítico do mês atual</h4>
            </div>
            <!--<div class="col-md-6 text-right">
                <form action="POST" class="form-inline float-right"> 
                    Filtrar: 
                    <input type="text" class="form-control" (keyup)="search()">
                </form>
            </div>-->
        </div>        
    </div>
    <div class="row mrg-top-20 mrg-btm-20">
        <div class="col-md-6 col-xs-12 border right">
            <form action="POST" class="form-inline d-block text-center"> 
                Período: 
                <select name="periodo" class="form-control" (change)="onChange($event.target.value)">
                    <option *ngFor="let periodo of periodos" [value]="periodo.date">{{ periodo.display | titlecase }}</option>
                </select>
            </form>
        </div>
        <div class="col-md-6 col-xs-12">
            <form action="POST" class="form-inline d-block text-center"> 
                Natureza:
                <select name="periodo" class="form-control" (change)="onChangeType($event.target.value)">
                    <option value="ADMINISTRATIVAS" selected="selected">Administrativas</option>
                    <option value="CONCESSIONARIAS">Concessionárias</option>
                    <option value="CONTRATOS">Contratos</option>
                    <option value="MATERIAIS">Materiais</option>
                    <option value="PESSOAL">Pessoal</option>                    
                </select>
            </form>
        </div>
    </div>  
  <div class="card-block">
      <div class="row">
          <div class="col-md-12">
            <div class="card-block text-center" *ngIf="data.length == 0 && loading == false">
                <p>Não há posição recibos durante esse período.</p>
            </div>
            
            <div class="table-responsive">
                <table class="table table-lg table-hover" *ngIf="data.length > 0 && loading == false">
                    <thead>
                        <tr class="no-border">
                            <td class="bold">Descrição</td>
                            <td class="bold">Classificação</td>
                            <td class="bold">Natureza</td>
                            <td class="bold" style="width: 15%">Valor</td>
                            <td class="text-center bold">URL</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let balancete of data">
                            <td>
                                <b>{{balancete.Descricao}}</b>
                            </td>
                            <td>
                                    {{balancete.Classificacao}}
                            </td>
                            <td>
                                    {{balancete.Natureza_da_Classificao}}
                            </td>
                            <td>
                                    R$ {{balancete.ValorCC * -1}}
                            </td>
                            <td class="text-center">
                                <span [hidden]="balancete.URL.length === 0">
                                    <a href="{{balancete.URL}}" class="text-primary" title="Clique aqui para abrir o documento" target="_blank">
                                    <i class="ti-file"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
      </div>
  </div>
</div>