<div class="container-fluid">
    <div class="page-title">
        <h4>Cadastrar Gerente</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="card-title">Preencha atenciosamente o formulário a seguir</h4>
                            <p>Todos os campos que possuírem <span class="text-danger">*</span> são campos obrigatórios.</p>
                            <form class="form-horizontal mrg-top-40 pdd-right-30" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                      <label for="form-1-1" class=" control-label">Nome <span class="text-danger">*</span></label>
                                      <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4 col-lg-4">
                                      <label for="form-1-1" class=" control-label">Endereço</label>
                                      <div class="">
                                          <input type="text" class="form-control" formControlName="endereco" placeholder="Endereço">
                                      </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                      <label for="form-1-1" class=" control-label">Tipo de Endereço</label>
                                      <div class="">
                                        <select name="tipo_endereco" formControlName="tipo_endereco" class="form-control">
                                            <option value="comercial">Comercial</option>
                                            <option value="residencial">Residencial</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                      <label for="form-1-1" class=" control-label">Complemento</label>
                                      <div class="">
                                          <input type="text" class="form-control" formControlName="complemento" placeholder="Complemento">
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-6 col-lg-6">
                                    <label for="form-1-1" class=" control-label">Bairro</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="bairro" placeholder="Bairro">
                                    </div>
                                  </div>
                                  <div class="col-md-6 col-lg-6">
                                    <label for="form-1-1" class=" control-label">Município</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="municipio" placeholder="Município">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-6 col-lg-6">
                                    <label for="form-1-1" class=" control-label">Estado</label>
                                    <div class="">
                                      <select name="estado" formControlName="estado" class="form-control">
                                        <option value="ac">Acre</option>
                                        <option value="al">Alagoas</option>
                                        <option value="ap">Amapá</option>
                                        <option value="am">Amazonas</option>
                                        <option value="ba">Bahia</option>
                                        <option value="ce">Ceará</option>
                                        <option value="df">Distrito Federal</option>
                                        <option value="es">Espírito Santo</option>
                                        <option value="go">Goiás</option>
                                        <option value="ma">Maranhão</option>
                                        <option value="mt">Mato Grosso</option>
                                        <option value="ms">Mato Grosso do Sul</option>
                                        <option value="mg">Minas Gerais</option>
                                        <option value="pr">Paraná</option>
                                        <option value="pb">Paraíba</option>
                                        <option value="pa">Pará</option>
                                        <option value="pe">Pernambuco</option>
                                        <option value="pi">Piauí</option>
                                        <option value="rn">Rio Grande do Norte</option>
                                        <option value="rs">Rio Grande do Sul</option>
                                        <option value="rj" selected="selected">Rio de Janeiro</option>
                                        <option value="ro">Rondônia</option>
                                        <option value="rr">Roraima</option>
                                        <option value="sc">Santa Catarina</option>
                                        <option value="se">Sergipe</option>
                                        <option value="sp">São Paulo</option>
                                        <option value="to">Tocantins</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6 col-lg-6">
                                    <label for="form-1-1" class=" control-label">CEP</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="cep" mask="00000-000" placeholder="00000-000">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-12 col-lg-12">
                                    <label for="form-1-1" class=" control-label">E-mail</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="email" placeholder="@email.com.br">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-3 col-lg-3">
                                    <label for="form-1-1" class=" control-label">Telefone Residencial</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="telefone_residencial" mask="(00) 0000-0000" placeholder="(00) 0000-0000">
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-lg-3">
                                    <label for="form-1-1" class=" control-label">Telefone Comercial</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="telefone_comercial" mask="(00) 0000-0000" placeholder="(00) 0000-0000">
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-lg-3">
                                    <label for="form-1-1" class=" control-label">Telefone Móvel</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="telefone_movel" mask="(00) 0 0000-0000" placeholder="(00) 0 0000-0000">
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-lg-3">
                                    <label for="form-1-1" class=" control-label">FAX</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="fax" mask="(00) 0000-0000" placeholder="(00) 0000-0000">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <hr/>
                                  <br clear="all">
                                  <br clear="all">
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-4 col-lg-4">
                                    <label for="form-1-1" class="control-label">Identificação</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="identificacao" placeholder="00001">
                                    </div>
                                  </div>
                                  <div class="col-md-4 col-lg-4">
                                    <label for="form-1-1" class=" control-label">Login</label>
                                    <div class="">
                                        <input type="text" class="form-control" formControlName="login_gerente" mask="50000" placeholder="51014">
                                    </div>
                                  </div>
                                  <div class="col-md-4 col-lg-4">
                                    <label for="form-1-1" class=" control-label">Senha</label>
                                    <div class="">
                                        <input type="password" class="form-control" formControlName="senha" placeholder="******">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <hr/>
                                  <br clear="all">
                                  <br clear="all">
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-12">
                                    <p>
                                        Selecione os condomínios no qual ele ou ela gerenciam:
                                    </p>
                                  </div>
                                  <div class="col-md-4">
                                      <ng-selectize [config]="singleSelectConfig" [options]="singleSelectOptions" 
                            [(ngModel)]="singleSelectValue" (ngModelChange)="onValueChange($event)" [ngModelOptions]="{standalone: true}" ngDefaultControl></ng-selectize>
                                  </div>
                                  <div class="col-md-6" *ngIf="this.form.value.clientes.length > 0">
                                      <button type="button" class="btn btn-primary tag" *ngFor="let condominio of this.form.value.clientes; let i = index;" 
                                        value="{{condominio}}"  (click)="remove(i)">
                                        <span>{{condominio}}</span>
                                        <i class="tag__icon fa fa-close"></i>
                                      </button>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-12">
                                    <div class="text-right mrg-top-15">
                                        <button type="submit" class="btn btn-primary">Atualizar</button>
                                        <button type="reset" class="btn btn-default">Limpar</button>
                                    </div>
                                  </div>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </div>