<div class="container-fluid">
    <div class="page-title">
        <h4>Espaços</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="page-title">
                    </div>
                    <div class="card-block">
                      <a [routerLink]="['/reservas/espacos/cadastrar']" class="btn btn-primary" title="Cadastrar Espaço" *ngIf="permissionService.isSindico()">Cadastrar Espaço</a>

                    <div class="row">
                        <div class="col-sm-4" *ngFor="let data of datas">
                            <div class="card">
                                <svg *ngIf="!data.imagem" class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#868e96" /></svg>
                                <img *ngIf="data.imagem" src="{{ data.imagem }}" class="card-img-top" alt="" style="height:250px;object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ data.nome }}</h5>
                                    <p class="card-text">
                                        <strong>Dias:</strong> {{ data.dias_horas.dia }}<br>
                                        <strong>Horários:</strong> {{ data.dias_horas.hora }}<br>
                                        <strong>Preço:</strong> {{ data.preco | currency: 'BRL': 'symbol' }} ({{ data.tipo_de_reserva == 1 ? 'Hora' : 'Diária' }})
                                    </p>
                                  
                                    <div class="text-center">
                                        <a [routerLink]="['/reservas/espacos/atualizar', data.id]" class="btn btn-default btn-block" title="Editar" *ngIf="permissionService.isSindico()">Editar</a>
                                        <a [routerLink]="['/reservas/espacos/reservar', data.id]" class="btn btn-primary btn-block" title="Reservar" *ngIf="!permissionService.isSindico()">Reservar</a>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>