<app-balancete name="Pasta Virtual" [loading]="loading" (periodo)="onChange($event)">
    <!-- Saldo -->
    <div class="saldo" *ngIf="data.length > 0">
      <span class="titulo">Saldo Disponível: R$</span>
      <span class="bigger" style="font-size: 36px;">{{ data[data.length - 1].Campo3 }}</span>
    </div>

    <div class="table-responsive">
        <table class="table table-hover" id="table" #table style="margin-bottom: 0px; min-height: 600px;">
            <thead>
                <tr>
                    <th>Dia</th>
                    <th>Complemento</th>
                    <th class="big">Valor</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                  <tr *ngIf="data.length == 0">
                      <td class="text-center" colspan="4" width="100%">Não há competência para este mês.</td>
                  </tr>
                  <tr *ngFor="let balancete of data"
                  [ngClass]="{
                    'subheading': balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0,
                    'subheading2': balancete.Campo1.length == 0 && balancete.Campo2.length != 0 && balancete.Campo3.length != 0,
                    'modal-trigger': balancete.URL.length > 0
                  }"  (click)="open(balancete)" [attr.data-target]="balancete.URL.length > 0 ? '#modal-lg': ''"
                  [attr.data-toggle]="balancete.URL.length > 0 ? 'modal': ''">
                    <td [ngClass]="{ 'subheading3': balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0 }" 
                      [colSpan]="balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0 ? 3 : ''">{{balancete.Campo1}}</td>
                    <td>{{balancete.Campo2}}</td>
                    <td *ngIf="balancete.Campo3.length != 0">
                      <span *ngIf="balancete.Campo3.length != 0">
                          R$ {{balancete.Campo3}} {{balancete.Campo4}}
                      </span>
                    </td>
                    <td class="text-center" [hidden]="balancete.Campo1.length != 0 && balancete.Campo2.length == 0 && balancete.Campo3.length == 0">
                      <span *ngIf="balancete.URL.length != 0">
                          <a (click)="open(balancete)" class="modal-trigger" data-toggle="modal" data-target="#modal-lg" javascript="void(0)" title="Clique aqui para abrir o documento">
                              <i class="ei ei-search"></i>
                          </a>
                        </span>
                    </td>
                </tr>
            </tbody>
          </table>   
    </div>
</app-balancete>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="padding-15">
                    <div class="row text-center">
                        <h4 class="modal-title">{{ getModalTitle() }}</h4>
                    </div>
                    <div class="row">
                        <div class="ml-auto col-md-12">
                            <iframe width="100%" height="100%" [src]="this.url"  *ngIf="this.loading === false;"></iframe>
                        </div>
                    </div>
                    <div class="navigation">
                        <a href="javascript: void(0)" class="navigation__arrow--left" (click)="previous()">
                            <i class="fa fa-chevron-left arrow-left"></i>
                        </a>
                        <a href="javascript: void(0)" class="navigation__arrow--right" (click)="next()">
                            <i class="fa fa-chevron-right arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>