.modal-trigger {
    cursor: pointer;
}

.modal-dialog {
    top: 10px;
    max-width: 1100px;

    .modal-title {
        text-align:  center;
        display:  block;
        width:  100%;
        margin-bottom: 15px;
    }

    .modal-body {
        height: 890px;

        iframe {
            height: 800px;
        }


        .navigation {

            .navigation__arrow--left, .navigation__arrow--right {
                position: absolute;
                top: 50%;
                font-size: 34px;
                color: #2a335b;
                margin-top: -50px;
                left: -120px;
                background: #fff;
                width: 60px;
                border-radius: 50%;
                text-align: center;
                height: 60px;
                border: 1px solid #fff;
                transition: all 1s;

                &:hover {
                    color: #fff;
                    border: 1px solid #2a335b;
                    background: #2a335b;

                    .arrow-left,  .arrow-right {
                        color: #fff;
                    }
                }
            }

            .navigation__arrow--right {
                right: -120px !important;
                left: auto !important;
            }

            .arrow-left {
                margin-left: -10px;
                margin-top: 15px;
                color: #2a335b;
            }

            .arrow-right {
                color: #2a335b;
                margin-top: 15px;
            }
        }
    }
}