<div class="row">
    <div class="col-md-5 col-xs-12">
        <div class="card h-100 min-height">
            <div class="card-heading border bottom">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="card-title">Balancete Analítico (Gráfico)</h4>
                    </div>
                </div>  
                    
            </div>
            <div class="card-block text-center" *ngIf="data.length == 0 && loading == false">
                    <p>Não há dados durante esse período.</p>
            </div>
            <div class="card-block" *ngIf="loading == false && Total > 0">
                  <p class="text-center" [hidden]="!loading && (this.labels.length > 0)">Não há informação a ser exibida durante esse período.</p>
                <p>Passe o mouse em cima da área do gráfico para ver a descrição da conta.</p>
                <div class="text-center">
                    <canvas class="d-inline-block" style="max-width: 500px;" height="375" *ngIf="loading == false" baseChart [data]="donutChartData" [labels]="donutChartLabels" [chartType]="donutChartType" [legend]="donutChartLegend" [colors]="donutChartColors" [options]="dountChartOptions"></canvas>
                </div>

                <b>Total: {{Total | currency: 'BRL'}}</b>
            </div>
          </div>
    </div>
    
    <div class="col-md-7 col-xs-12">
        <div class="widget h-100 card min-height">
            <div class="card-heading border bottom">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Balancete Analítico</h4>
                    </div>
                </div>        
            </div>
            <div>
                <div class="row mrg-top-20 mrg-btm-20">
                    <div class="col-md-6 col-xs-12 border right">
                        <form action="POST" class="form-inline d-block text-center"> 
                            Período: 
                            <select name="periodo" class="form-control" (change)="onChange($event.target.value)">
                                <option *ngFor="let periodo of periodos" [value]="periodo.date">{{ periodo.display | titlecase }}</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <form action="POST" class="form-inline d-block text-center"> 
                            Categoria:
                            <select name="periodo" class="form-control" (change)="onChangeType($event.target.value)">
                                <option value="PESSOAL" selected="selected">Pessoal</option>  
                                <option value="ADMINISTRATIVAS">Administrativas</option>
                                <option value="CONCESSIONARIAS">Concessionárias</option>
                                <option value="CONTRATOS">Contratos</option>
                                <option value="MATERIAIS">Materiais</option>
                            </select>
                        </form>
                    </div>
                </div>  
            </div>
            <div class="card-block">
              <div class="row">
                  <div class="col-md-12">
                    <div class="card-block text-center" *ngIf="data.length == 0 && loading == false">
                        <p>Não há dados durante esse período.</p>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table table-lg table-hover" datatable [dtOptions]="dtOptions" *ngIf="data.length > 0 && loading == false">
                            <thead>
                                <tr class="no-border">
                                    <th class="bold">Descrição</th>
                                    <th class="bold">Valor</th>
                                    <th class="text-center bold">URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let balancete of data" (click)="open(balancete)" [ngClass]="{'modal-trigger': balancete.URL.length > 0}" [attr.data-target]="balancete.URL.length > 0 ? '#modal-lg': ''"
                                    [attr.data-toggle]="balancete.URL.length > 0 ? 'modal': ''">
                                    <td>
                                        <b>{{balancete.Descricao}}</b>
                                    </td>
                                    <td>
                                            {{(balancete.ValorCC * -1) | currency: 'BRL' }}
                                    </td>
                                    <td class="text-center">
                                        <span [hidden]="balancete.URL.length === 0">
                                            <a (click)="open(balancete)" class="modal-trigger" data-toggle="modal" data-target="#modal-lg" javascript="void(0)" title="Clique aqui para abrir o documento">
                                                <i class="ei ei-search"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <tr [hidden]="Total === 0">
                                    <td colSpan="1">
                                        <b>Total: </b>
                                    </td>
                                    <td>
                                        <b>{{Total | currency: 'BRL'}}</b>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="padding-15">
                    <div class="row text-center">
                        <h4 class="modal-title">{{ getModalTitle() }}</h4>
                    </div>
                    <div class="row">
                        <div class="ml-auto col-md-12">
                            <iframe width="100%" height="100%" [src]="this.url"  *ngIf="this.loading === false;"></iframe>
                        </div>
                    </div>
                    <div class="navigation">
                        <a href="javascript: void(0)" class="navigation__arrow--left" (click)="previous()">
                            <i class="fa fa-chevron-left arrow-left"></i>
                        </a>
                        <a href="javascript: void(0)" class="navigation__arrow--right" (click)="next()">
                            <i class="fa fa-chevron-right arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>