<div class="app">
    <div class="layout" [ngClass]="{'swap-on': this.authService.swapStatus()}">
        <app-sidebar></app-sidebar>

        <div class="page-container">
        <app-header></app-header>

            <div class="main-content">
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>