<div class="container-fluid">
  <div class="row" *ngIf="saldoFinalAtualizado">
      <div class="col-lg-3 col-md-6">
          <div class="card">
              <div class="card-block">
                  <!--<p class="mrg-btm-5">Balanço Mensal</p>-->
                  <h1 [ngClass]="{'no-mrg-vertical font-size-25': true, 'text-info': saldoFinalAtualizado.SaldoAnterior > -1, 'text-danger': saldoFinalAtualizado.SaldoAnterior < 0}">{{ saldoFinalAtualizado.SaldoAnterior | currency: 'BRL' }}
          <!--<b class="font-size-16">.80</b>-->
        </h1>
                  <p class="text-semibold no-mrg-btm">Saldo Anterior</p>
                  <!--<div class="mrg-top-10">
          <h2 class="no-mrg-btm font-size-16">R$ 10.000,00</h2>
          <span class="inline-block mrg-btm-10 font-size-13 text-semibold">Meta</span>
          <span class="pull-right pdd-right-10 font-size-13">83%</span>
          <div class="progress progress-success">
            <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width:83%">
            </div>
          </div>
        </div>-->
              </div>
          </div>
          <!--<div class="card bg-info">
      <div class="card-block">
        <div class="row">
          <div class="col">
            <p class="text-uppercase font-size-13">
              <b>Saldo Anterior</b>
            </p>
            <h1 class="no-mrg-top font-size-30">{{ saldoFinalAtualizado.SaldoAnterior | currency: 'BRL' }}</h1>
          </div>
          <div class="col-md-5">
          </div>
        </div>
      </div>
    </div>-->
      </div>
      <div class="col-lg-3 col-md-6">
          <div class="card">
              <div class="card-block">
                  <!--<p class="mrg-btm-5">Receita Mensal</p>-->
                  <h1 [ngClass]="{'no-mrg-vertical font-size-25': true, 'text-danger': saldoFinalAtualizado.TotalDebito > -1 }">{{ saldoFinalAtualizado.TotalDebito | currency: 'BRL' }}
          <!--<b class="font-size-16">.80</b>-->
        </h1>
                  <p class="text-semibold no-mrg-btm">Total Débito</p>
                  <!--<div class="mrg-top-10">
          <h2 class="no-mrg-btm font-size-16">R$ 5.000,00</h2>
          <span class="inline-block mrg-btm-10 font-size-13 text-semibold">Meta</span>
          <span class="pull-right pdd-right-10 font-size-13">166%</span>
          <div class="progress progress-primary">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
          </div>
        </div>-->
              </div>
          </div>
          <!--<div class="card bg-danger">
      <div class="card-block">
        <div class="row">
          <div class="col">
            <p class="text-uppercase font-size-13">
              <b>Total Débito</b>
            </p>
            <h1 class="no-mrg-top font-size-30">{{ saldoFinalAtualizado.TotalDebito | currency: 'BRL' }}</h1>
          </div>
          <div class="col-md-5">
          </div>
        </div>
      </div>
    </div>-->
      </div>
      <div class="col-lg-3 col-md-6">
          <div class="card">
              <div class="card-block">
                  <!--<p class="mrg-btm-5">Despesa Mensal</p>-->
                  <h1 [ngClass]="{'no-mrg-vertical font-size-25': true, 'text-info': saldoFinalAtualizado.TotalCredito > 0 }">{{ saldoFinalAtualizado.TotalCredito | currency: 'BRL' }}
          <!--<b class="font-size-16">.80</b>-->
        </h1>
                  <p class="text-semibold no-mrg-btm">Total Crédito</p>
                  <!--<div class="mrg-top-10">
          <h2 class="no-mrg-btm font-size-16">R$ 30.000,00</h2>
          <span class="inline-block mrg-btm-10 font-size-13 text-semibold">Meta</span>
          <span class="pull-right pdd-right-10 font-size-13">60%</span>
          <div class="progress progress-warning">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
            </div>
          </div>
        </div>-->
              </div>
          </div>
          <!--<div class="card bg-success">
      <div class="card-block">
        <div class="row">
          <div class="col">
            <p class="text-uppercase font-size-13">
              <b>Total Crédito</b>
            </p>
            <h1 class="no-mrg-top font-size-30">{{ saldoFinalAtualizado.TotalCredito | currency: 'BRL' }}</h1>
          </div>
          <div class="col-md-5">
          </div>
        </div>
      </div>
    </div>-->
      </div>
      <div class="col-lg-3 col-md-6">
          <div class="card ">
              <div class="card-block">
                  <!--<p class="mrg-btm-5">Saldo Total</p>-->
                  <h1 [ngClass]="{'no-mrg-vertical font-size-25': true, 'text-success': saldoFinalAtualizado.SaldoFinal > -1, 'text-danger': saldoFinalAtualizado.SaldoFinal < 0}">{{ saldoFinalAtualizado.SaldoFinal | currency: 'BRL' }}
          <!--<b class="font-size-16">.80</b>-->
        </h1>
                  <p class="text-semibold no-mrg-btm">Saldo Final</p>
                  <!--<div class="mrg-top-10">
          <h2 class="no-mrg-btm font-size-16">R$ 15.000,00</h2>
          <span class="inline-block mrg-btm-10 font-size-13 text-semibold">Meta</span>
          <span class="pull-right pdd-right-10 font-size-13">120%</span>
          <div class="progress progress-success">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
          </div>
        </div>-->
              </div>
          </div>
          <!--<div class="card bg-info">
      <div class="card-block">
        <div class="row">
          <div class="col">
            <p class="text-uppercase font-size-13">
              <b>Saldo Final</b>
            </p>
            <h1 class="no-mrg-top font-size-30">{{ saldoFinalAtualizado.SaldoFinal | currency: 'BRL' }}</h1>
          </div>
          <div class="col-md-5">
          </div>
        </div>
      </div>
    </div>-->
      </div>
  </div>
  <div class="row row-space">
      <div class="col-12">
            <app-grafico-de-despesas></app-grafico-de-despesas>
      </div>
    </div>
    <div class="row row-space">
        <div class="col-md-6 col-xs-12">
            <app-grafico-luz-e-forca></app-grafico-luz-e-forca>
        </div>
        <div class="col-md-6 col-xs-12">
            <app-grafico-agua-e-esgoto></app-grafico-agua-e-esgoto>
        </div>
    </div>
    <div class="row row-space" *ngIf="this.permissionService.isSindico() || this.permissionService.isGerente()">
        <div class="col-md-5 col-xs-12">
            <div class="card h-100">
                <div class="card-heading border bottom">
                    <h4 class="card-title">Previsão de receita</h4>
                </div>
                <div class="row mrg-top-20">
                    <div class="col-md-6 col-xs-12 border right">
                        <div class="text-center pdd-vertical-10" *ngIf="posicaoRecibos.TotalPago"> 
                            <h2 class="font-primary no-mrg-top">{{ posicaoRecibos.TotalPago | currency: 'BRL' }}</h2>
                            <p class="no-mrg-btm">Total Pago</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="text-center pdd-vertical-10" *ngIf="posicaoRecibos.TotalNaoPago"> 
                            <h2 class="font-primary no-mrg-top">{{ posicaoRecibos.TotalNaoPago | currency: 'BRL' }}</h2>
                            <p class="no-mrg-btm">Total Não Pago</p>
                        </div>
                    </div>
                </div>
                <div class="card-block text-center" *ngIf="posicaoRecibos">
                    <canvas class="d-inline-block" style="max-width: 500px;" height="375" baseChart [data]="donutChartData" [labels]="donutChartLabels" [chartType]="donutChartType" [legend]="donutChartLegend" [colors]="donutChartColors" [options]="dountChartOptions"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xs-12">
            <app-posicao-recibos-grafico-analitico></app-posicao-recibos-grafico-analitico>
        </div>
    </div>
    <div class="row row-space" *ngIf="this.permissionService.isSindico() || this.permissionService.isGerente()">
        <div class="col-md-12">
            <app-balancete-analitico-grafico></app-balancete-analitico-grafico>
        </div>
    </div>
      <div class="row row-space">   
          <div class="col-lg-6 col-md-6">
              <app-agenda></app-agenda>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="widget-profile-1 card h-100" *ngIf="gerente">
                  <div class="profile border bottom">
                      <img class="mrg-top-30" src="assets/images/no_picture.png" width="140" height="140" alt="">
                      <h4 class="mrg-top-20 no-mrg-btm text-semibold">{{ gerente.NomeGerente }}</h4>
                      <p style="margin-bottom: 0px;">Gerente de Conta</p>
                      <p style="margin-bottom: 0px;">
                          {{ gerente.E_Mail }}</p>
                      <p style="margin-bottom: 0px;">
                          (21) {{ gerente.Telefone }}</p>
                  </div>
                  <div class="pdd-horizon-30 pdd-vertical-20">
                      <p class="text-center" *ngIf="gerente.CodigoFilial == 1">
                          <b>Centro - Matriz</b>
                          <br>Rua da Quitanda, 19 - Sobreloja
                          <br>Centro - Rio de Janeiro - RJ </p>
                      <p class="text-center" *ngIf="gerente.CodigoFilial == 7 || gerente.CodigoFilial == 3">
                          <b>Downtown - Barra</b>
                          <br>Avenida das Américas, 500 - Bl. 22 - Lj. 106
                          <br>Barra da Tijuca - Rio de Janeiro - RJ </p>
                      <div class="mrg-top-20 text-center">
                          <a href="mailto:{{ gerente.E_Mail }}" class="btn btn-info no-mrg-btm">Enviar E-mail</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>