.hover {
    cursor: pointer;
}

.table, .ng-content {
    min-height: 600px;
}

.card {
    border: 0;
}

.container {
    max-width: 980px;
    /*max-width: 1140px;*/
}

.no-padding {
    padding: 0;
}

.full-width {
    max-width: 100%;
}