<div class="container-fluid ng-scope balancete">
  <div class="container">
      <div class="card">
          <div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
              <ul class="list-unstyle list-inline text-right">
                  <li class="list-inline-item">
                      <a (click)="exportAsPDF()" class="hover text-gray text-hover display-block padding-10 no-mrg-btm">
                          <i class="fa fa-file-pdf-o text-danger pdd-right-5"></i>
                          <b>Exportar PDF</b>
                      </a>
                  </li>
                  <li *ngIf="this.permissionService.isSindico()" class="list-inline-item">
                      <a (click)="exportAsCSV()" class="text-gray text-hover display-block padding-10 no-mrg-btm hover">
                          <i class="fa fa-file-text-o text-success pdd-right-5"></i>
                          <b>Exportar CSV</b>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a class="hover btn text-gray text-hover display-block padding-10 no-mrg-btm" (click)="exportAsPrint()">
                          <i class="ti-printer text-info pdd-right-5"></i>
                          <b>Imprimir</b>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="card-body balancete no-padding" id="balancete" #balancete>
              <div class="pdd-horizon-30">
                    <section class="print-visible print">
                        <header class="balancete__header">
                            <div class="col-print-1">
                                <picture class="pull-left">
                                    <img src="/assets/images/logo/bcf.png" alt="BCF Adminstradora de Bens" height="50">
                                </picture>
                            </div>
                            <div class="col-print-11">
                                <div class="hgroup">
                                    <h3 class="name">BCF Administradora de Bens</h3>
                                    <h4 class="title">
                                        <div class="col-print-8"><b>{{this.name}}</b> - Mês / Ano: {{this.$periodo.range}}</div>
                                        <div class="col-print-4">Data/Hora: {{ timer }}</div>
                                    </h4>
                                    <h5 class="subtitle w-100">Emitido por: {{this.account.NomeCompleto}}</h5>
                                </div>
                            </div>
                        </header>
                        <ul class="balancete-user" *ngIf="canShowAddress()">
                            <li>
                                <div class="row no-margin print">
                                    <div class="col-md-6 col-print-6 no-padding text-left">
                                        <b>Filial:</b> 01 Centro
                                    </div>
                                    <div class="col-md-6 col-print-6 no-padding text-left">
                                        <b>Gerente:</b> {{ unidade?.NomeGerente }}
                                    </div>
                                </div>
                            </li>
                            <li><b>Cliente:</b> {{ unidade?.CodigoCliente }} {{ unidade?.NomeCliente }}</li>
                            <li class="print">
                                <div class="col-print-6">
                                    <b>Código da Unidade:</b> {{ unidade?.Codigo_da_Unidade }}
                                </div>
                                <div class="col-print-6">
                                    <b>Complemento da Unidade:</b> {{ unidade?.Complemento_Unidade }}
                                </div>
                            </li>
                        </ul>
                    
                    </section>
                  <section class="balancete-header print-invisible">
                        <div class="mrg-top-15 clearfix">
                            <div class="inline-block mb-3 mb-sm-0">
                                <img class="img-responsive" src="/assets/images/logo/bcf.png" alt="BCF Adminstradora de Bens" height="80">
                            </div>
                            <div class="float-xs-left text-xs-left float-sm-right text-sm-right">
                                <h2 class="mrg-btm-5">{{this.name}}</h2>
                                <form action="" class="form-inline" *ngIf="this.name !== 'Contas A Pagar' && this.name !== 'Comparativo Mês Atual' && this.name !== 'Comparativo Mês Anterior'  && this.name !== 'Demonstrativo no Período' && this.name != 'Devedores com reajuste' && this.name != 'Cotas em aberto' ">
                                    Período: 
                                    <select name="periodo" class="form-control" (change)="onChange($event.target.value)">
                                        <option *ngFor="let periodo of periodos" [value]="periodo.date">{{ periodo.display | titlecase }}</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="row mrg-top-20">
                            <div class="col" *ngIf="canShowAddress()">
                                <address class="mrg-top-10">
                                    <b class="text-dark">{{ unidade?.CodigoCliente }} - {{ unidade?.NomeCliente | titlecase }}</b>
                                    <br>
                                    <span>{{ unidade?.EnderecoCondominio | titlecase }}</span>
                                    <br>
                                    <span>{{ unidade?.Bairro | titlecase }} - {{ unidade?.Cidade | titlecase }} - {{ unidade?.UF | titlecase }}</span>
                                </address>
                            </div>
                        </div>
                  </section>
                  <div class="row mrg-top-20">
                      <div class="col-md-12">
                          <div class="ng-content">
                                <ng-content></ng-content>    
                          </div>                   

                          <div class="row mrg-vertical-20">
                              <div class="col-md-6">
                                  <img class="img-responsive text-opacity mrg-top-5" width="100" src="/assets/images/logo/bcfnet.jpg" alt="BCFNet">
                              </div>
                              <div class="col-md-6 text-right">
                                  <small><b>Tel.:</b> (21) 2509-9002</small>
                                  <br>
                                  <small>bcfadm@bcfadm.com.br </small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>