<app-balancete name="Contas A Pagar" [loading]="loading" [childData]="data">
    <!-- Conta 001 -->
    <div class="table-responsive">
        <table class="table table-hover" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Complemento</th>
                    <th>Ref</th>
                    <th>Natureza</th>
                    <th class="text-right">Valor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let balancete of data" (click)="open(balancete)" [ngClass]="{'modal-trigger': balancete.URL.length > 0}" [attr.data-target]="balancete.URL.length > 0 ? '#modal-lg': ''"
                        [attr.data-toggle]="balancete.URL.length > 0 ? 'modal': ''">
                    <td>{{balancete.Vencimento}}</td>
                    <td>{{balancete.Historico}}</td>
                    <td>{{balancete.ReferenciaParcela}}</td>
                    <td>{{balancete.Natureza}}</td>
                    <td class="text-right">
                        <span *ngIf="balancete.Valor.length > 0">
                            {{balancete.Valor | currency: 'BRL'}}
                        </span>
                    </td>
                    <td class="hover">
                        <span *ngIf="balancete.URL !== ' '">
                            <a (click)="open(balancete)" class="modal-trigger" data-toggle="modal" data-target="#modal-lg" javascript="void(0)" title="Clique aqui para abrir o documento">
                                <i class="ei ei-search"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>   
    </div>
</app-balancete>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="padding-15">
                    <div class="row text-center">
                        <h4 class="modal-title">{{ getModalTitle() }}</h4>
                    </div>
                    <div class="row">
                        <div class="ml-auto col-md-12">
                            <iframe width="100%" height="100%" [src]="this.url"  *ngIf="this.loading === false;"></iframe>
                        </div>
                    </div>
                    <div class="navigation">
                        <a href="javascript: void(0)" class="navigation__arrow--left" (click)="previous()">
                            <i class="fa fa-chevron-left arrow-left"></i>
                        </a>
                        <a href="javascript: void(0)" class="navigation__arrow--right" (click)="next()">
                            <i class="fa fa-chevron-right arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>