<div class="container-fluid">
    <div class="page-title">
        <h4>Avisos da Administradora</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="page-title">
                    </div>
                    <div class="card-block">   
                        <div class="table-overflow">
                            <div id="dt-opt_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="dt-opt_length"><label>Exibir <select name="dt-opt_length" aria-controls="dt-opt" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> resultados</label></div><div id="dt-opt_filter" class="dataTables_filter"><label>Pesquisar:<input type="search" class="" placeholder="" aria-controls="dt-opt"></label></div>
                            <div class="table-responsive">
                                <table id="dt-opt" class="table table-lg table-hover dataTable no-footer" role="grid" aria-describedby="dt-opt_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 232px;">Título</th>
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 174px;">Divulgador</th>
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 174px;">Data de Inclusão</th>
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 174px;">Data de Expiração</th>
                                            <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 67px;">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngIf="this.avisos.length == 0 && this.loading == false">
                                        <td colspan="6" class="text-center">Não existem avisos cadastrados no momento.</td>
                                    </tr>
                                    <tr role="row" *ngFor="let aviso of avisos">
                                        <td width="200">
                                            {{aviso.titulo}}
                                        </td>
                                        <td width="160">
                                            <span *ngIf='aviso.condomino != ""'> {{aviso.condomino}} </span>
                                            <span *ngIf='aviso.condominio != "" && aviso.condomino == ""'> Síndico </span>
                                            <span *ngIf='aviso.condominio == "" && aviso.condomino == ""'> BCF Administradora de Bens </span>
                                        </td>
                                        <td width="160">
                                            {{aviso.data_inclusao}}
                                        </td>
                                        <td width="160">
                                            {{aviso.data_expiracao}}
                                        </td>
                                        <td width="20" align="center" class="hover">
                                            <a (click)="open(aviso.titulo, aviso.mensagem)" title="Clique aqui para visualizar o aviso" data-toggle="modal" data-target="#modal">
                                                <i class="ti-search pdd-right-5"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>    
            </div>
        </div>
    </div>
</div>

<app-modal></app-modal>