ngb-datepicker {
    width: 100%;
}

/* aspect ratio */
/deep/ .ngb-dp-month {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    padding-top: 75%;
    position: relative;
}

/deep/ body .ngb-dp-month > ngb-datepicker-month-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex !important;        
    flex-direction: column;
    min-height: 100%;
}

/deep/ .ngb-dp-week {
    // width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/deep/ .ngb-dp-day, /deep/ .ngb-dp-weekday, /deep/ .ngb-dp-week-number {
    width: 14.28% !important;
    height: auto !important;
}

/deep/ .ngb-dp-day {
    display: flex;
    align-items: center;
}

/deep/ .ngb-dp-day [ngbdatepickerdayview] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-disabled {
    opacity: 0.5;
}