<!-- <div class="flex-container align-center flex-column">
    <form [formGroup]="personForm" (ngSubmit)="onSubmitReserve()" class="form">
        <h2 class="text-center">Multiple checkbox Form control Demo</h2>
        <div class="flex-container flex-wrap">
        <div class="element">
            <label class="field-label">Hobbies</label>
            <div class="flex-container">
            <div *ngFor="let hobby of personForm.controls.hours.controls; let i=index;"
                class="flex-container  align-center multi-checkbox">
                <input type="checkbox" [formControl]="hobby" (change)="getSelectedHobbies(hobby, listHours[i].hours);">
                {{listHours[i].hour}}
            </div>
            </div>
        </div>
        <div class="element">
            <label class="field-label">Selected Hobbies:</label>
            <div class="flex-container">
            <label *ngFor="let hobby of selectedHobbiesNames;">
                {{hobby}}
            </label>
            </div>
        </div>
        </div>

        <input type="submit">
    </form>
</div> -->

<div class="container-fluid ng-scope balancete">
    <div class="container">
        <div class="card pdd-horizon-30 pdd-vertical-30">
            <h2 class="mrg-btm-10">{{  espaco.nome }}</h2>

            <!-- <form novalidate [formGroup]="form" (ngSubmit)="onSubmitReserve()">
                <input formControlName="firstName">
                <input type="submit" value=">">
            </form> -->

            <form novalidate [formGroup]="form" (ngSubmit)="onSubmitReserve()">
                <!-- <input formControlName="firstName"> -->
                <div class="row">
                    <div class="col-sm mb-3">           
                        <p class="small float-right mb-0">SELECIONE O DIA DESEJADO</p>

                        <ngb-datepicker
                            #dp
                            (navigate)="date = $event.next"
                            (select)="onDateSelection($event)"
                            [(ngModel)]="model"
                            [ngModelOptions]="{standalone: true}"
                            [markDisabled]="markDisabled"
                            [minDate]="minDate"
                        ></ngb-datepicker>
                    </div>
                    <div class="col-sm">
                        <p class="small float-right mb-0">SELECIONE O HORÁRIO DESEJADO</p>
                        <div class="d-block w-100" style="overflow: auto; position: relative; padding-top: 82%;">
                            <div class="list-group position-absolute" style="top: 0; left: 0; right: 0;">

                                <!-- <div *ngFor="let hour of form.controls.hours.controls; let i=index;"
                                    class="flex-container  align-center multi-checkbox">
                                    <input type="checkbox" [formControl]="hour" (change)="getSelectedHobbies(hour, listHours[i].hours);">
                                    {{listHours[i].hour}}
                                </div> -->

                                <!-- *ngFor="let item of myForm.get('items').value" -->
                                <p class="text-danger">
                                    <strong>{{ !availableHours.length && dateCalendar && espaco.tipo_de_reserva == 1 ? 'Horários indisponíveis' : '' }}</strong>
                                    <strong>{{ !availableHours.length && dateCalendar && espaco.tipo_de_reserva == 2 ? 'Dia indisponível' : '' }}</strong>
                                </p>
                                <div 
                                    *ngFor="let hour of form.controls['hours']['controls']; let idx = index"
                                    class="list-group-item"
                                    [ngClass]="{ 'list-group-item-success': listHours[idx].available, 'list-group-item-danger d-none': !listHours[idx].available, 'item-disabled': listHours[idx].available === false && listHours[idx].reserved === false }"
                                >
                                    <div class="checkbox p-0 position-relative">
                                        <div class="position-absolute" [ngClass]="{'d-block': listHours[idx].available === false || listHours[idx].daily === true, 'd-none': listHours[idx].available === true}" style="top:0;left:0;right:0;bottom:0;z-index:1;"></div>

                                        <input type="checkbox" [formControl]="hour" [id]="'hours-' + idx" [disabled]="listHours[idx].available === false" [checked]="listHours[idx].reserved === true || listHours[idx].daily === true">
                                        <!-- <input formControlName="hours" [id]="'hours-' + idx" name="hours[]" type="checkbox" value="{{ idx }}" [disabled]="item.available === false" [checked]="item.reserved === true"> -->
                                        <label [for]="'hours-' + idx" class="m-0 d-block">{{listHours[idx].hour}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h3>Alertas</h3>
                    <div [innerHTML]="espaco.informacao_adicional"></div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-12">
                        <h3>Convidados</h3>
                    </div>
                    <div class="col-sm-7">
                        <label class="d-inline-block w-100">
                            <span class="float-left">Lista de Convidados </span>
                            <small class="float-right" style="margin-top: 3px;">Inserir nomes separados por virgula</small>
                        </label>
                        <textarea class="w-100 form-control" formControlName="guestList" rows="10" placeholder="Inserir nomes separados por virgula"></textarea>
                    </div>
                    <div class="col-sm-5">
                        <label>Número de Convidados</label>
                        <input type="text" formControlName="guestNumber" class="form-control" placeholder="Máximo {{ espaco.lotacao }} pessoas">
                    </div>
                    <div class="col-sm-12 mt-4">
                        <label class="d-inline-block w-100">
                            <span class="float-left">Observações</span>
                        </label>
                        <textarea class="w-100 form-control" formControlName="comments" rows="3"></textarea>
                    </div>
                </div>

                <div class="mt-4">
                    <h3>Termos de Reserva</h3>
                    <div [innerHTML]="espaco.termos" style="border: 1px solid #e6ecf5;border-radius: 2px;overflow:auto;height:300px;padding:10px"></div>

                    <div class="checkbox mt-1">
                        <input type="checkbox" formControlName="acceptTerms" [id]="accept-terms">
                        <label [for]="accept-terms" class="m-0 d-block">LÍ E ACEITO OS TERMOS DE RESERVA</label>
                    </div>
                </div>

                <div class="mt-4">
                    <button class="btn btn-primary btn-lg float-right">RESERVAR</button>
                </div>
            </form>
        </div>
    </div>
</div>