<div class="authentication">
    <div class="sign-in">
        <div class="row no-mrg-horizon">
            <div class="col-md-8 no-pdd-horizon d-none d-md-block">
                <div class="full-height bg" style="background-image: url('assets/images/login/1.jpg')">
                </div>
            </div>
            <div class="col-md-4 no-pdd-horizon">
                <div class="full-height bg-white height-100">
                    <div class="vertical-align full-height pdd-horizon-70">
                        <div class="table-cell">
                            <div class="pdd-horizon-15">
                                <img src="assets/images/logo/bcf.svg" alt="BCF Administradora de Bens" width="150" class="mrg-btm-50">
                                <h2>Esqueci minha senha</h2>
                                <p class="mrg-btm-15 font-size-13">Digite seu login recuperar seu acesso</p>
                                <form novalidate [formGroup]="loginform" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <input type="text" class="form-control" [ngClass]="{'error': isFieldValid('login')}" placeholder="Digite aqui seu Login" formControlName="login" required>
                                        <div class="form-control-feedback" *ngIf="isFieldValid('login')">
                                            <label id="state-error" class="error" for="state">O campo login é obrigatório.</label>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <input type="email" class="form-control" [ngClass]="{'error': isFieldValid('email')}" placeholder="E-mail" formControlName="email" required email>
                                        <div class="form-control-feedback" *ngIf="isFieldValid('email')">
                                            <label id="state-error" class="error" for="state">O campo e-mail é obrigatório.</label>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <div class="pull-right font-size-12 inline-block forgot-password">
                                            <a href="javascript: void(0)" (click)="back()">Voltar para o Login</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" ui-sref="index.main" class="btn btn-info mrg-top-20 clearfix" [disabled]="!loginform.valid">Recuperar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>