<div class="container-fluid">
  <div class="back">
    <a href="javascript: void(0)" class="go-back" (click)="goBack()"> <i class="fa fa-chevron-left"></i> Voltar</a>
  </div>
<div class="social">
  <div class="social-cover card">
    <div class="cover-img overlay-dark bg" style="background-image: url('https://images.pexels.com/photos/144632/pexels-photo-144632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
      <div class="cover-content">
        <div class="text-center border bottom border-hide-sm pdd-horizon-30 pdd-btm-10">
          <h1 class="no-mrg-btm">{{ unidade?.NomeCliente | titlecase }}</h1>
          <p style="margin-bottom: 0px;">{{ unidade?.EnderecoCondominio | titlecase }}</p>
          <p style="margin-bottom: 0px;">Total de Unidades: {{ unidades?.length }}</p>
          <p>Síndico(a): {{ unidade?.NomeSindico | titlecase }}</p>
        </div>
        <div class="row mrg-top-15">
          <div class="col-md-6 border right border-hide-sm">
            <div class="text-center">
              <h3 class="no-mrg">{{ this.userService.getUserLogin() }}</h3>
              <span>Login</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pdd-horizon-15">
              <div class="text-center">
                <h3 class="no-mrg">{{ unidade?.Senha }}</h3>
                <span>Senha</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div class="table-overflow">
          <div id="dt-opt_wrapper" class="dataTables_wrapper no-footer">
            <div class="table-responsive">
              <table id="dt-opt" class="table table-lg table-hover dataTable no-footer" role="grid" aria-describedby="dt-opt_info">
                <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending"
                      style="width: 89px;">Unidade</th>
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending"
                      style="width: 232px;">Nome</th>
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Bill Code: activate to sort column ascending"
                      style="width: 174px;">Login</th>
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending"
                      style="width: 123px;">Senha</th>
                    <th class="sorting" tabindex="0" aria-controls="dt-opt" rowspan="1" colspan="1" aria-label="Amount: activate to sort column ascending"
                      style="width: 107px;">E-mail</th>
                  </tr>
                </thead>
                <tbody>

                  <tr role="row" class="odd" *ngFor="let unidade of unidades">
                    <td>
                      {{ unidade.Complemento_Unidade | titlecase }}
                    </td>
                    <td>
                      {{ unidade.Nome_do_Cliente | titlecase }}
                    </td>
                    <td>
                      {{ unidade.LoginUnidade }}
                    </td>
                    <td>
                      <span>
                        {{ unidade.SenhaUnidade }}
                      </span>
                    </td>
                    <td>
                      {{ unidade.e_MailCondomino}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
