.subheading2 {
     text-align: center;
     background: #1b2957 !important;
     color: #fff !important;
     border: 0;
     font-weight: bold;
}

.table-responsive .subheading {
     background-color: #f6f6f6;
 }