<app-balancete name="Extrato Conta Corrente" [loading]="loading" [childData]="data" (periodo)="onChange($event)">
    <!-- Conta 001 -->
    <div class="table-responsive">
            <table class="table table-hover" style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th width="25%">Data</th>
                        <th>Complemento</th>
                        <th class="text-right" width="25%">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr>
                        <td><b style="color: #3e5e79;">001 - Condomínio</b></td>
                        <td></td>
                        <td class="text-right"></td>
                    </tr>-->
                    <!--<tr *ngFor="let balancete of data"
                      [hidden]="balancete.Campo1.length !== 0 && balancete.Campo2.length !== 0 && balancete.Campo3 != ' ' && balancete.Campo4 != ' '"
                      [ngClass]="{
                        highlight: balancete.Campo1.length != 0 && balancete.Campo4 == 0
                      }">-->
                      <tr class="subheading" *ngIf="this.NomeCliente">
                          <td colspan="3">
                              <b>{{this.NomeCliente.NomeCliente}}</b>
                          </td>
                      </tr>
                      <tr *ngFor="let balancete of data"
                        [ngClass]="{
                          'subheading2': balancete.Campo1.trim().length != 0 && balancete.Campo2.trim().length == 0 && balancete.Campo3.trim().length == 0,
                          'subheading': ['SALDO ANTERIOR', 'TOTAL DE CRÉDITOS NESTA CONTA', 'TOTAL DE DÉBITOS NESTA CONTA', 'SALDO ATUAL'].indexOf(balancete.Campo2.trim()) > -1
                        }">
                        <td [colSpan]="balancete.Campo1.trim().length != 0 && balancete.Campo2.trim().length == 0 && balancete.Campo3.trim().length == 0 ? 3 : 0" *ngIf="['SALDO ANTERIOR', 'TOTAL DE CRÉDITOS NESTA CONTA', 'TOTAL DE DÉBITOS NESTA CONTA', 'SALDO ATUAL'].indexOf(balancete.Campo2.trim()) == -1">
                          {{balancete.Campo1}}
                        </td>
                        <td [colSpan]="balancete.Campo1.trim().length != 0 && balancete.Campo2.trim().length == 0 && balancete.Campo3.trim().length != 0 ? 1 : 0" 
                            *ngIf="balancete.Campo2.trim().length != 0">
                            {{balancete.Campo2}}
                        </td>
                        <td class="text-right" [colSpan]="balancete.Campo2.trim().length == 0 ? 2 : 0" *ngIf="balancete.Campo3.trim().length != 0" [colSpan]="['SALDO ANTERIOR', 'TOTAL DE CRÉDITOS NESTA CONTA', 'TOTAL DE DÉBITOS NESTA CONTA', 'SALDO ATUAL'].indexOf(balancete.Campo2.trim()) > -1 ? 2 : 0">
                          {{balancete.Campo3}}
                        </td>
                      </tr>
                </tbody>
            </table>   
      </div>
</app-balancete>