<div class="container-fluid ng-scope">
    <div class="container">
        <div class="card">
            <div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
                <ul class="list-unstyle list-inline text-right">
                    <li class="list-inline-item">
                        <a [routerLink]="['/financeiro/segunda-via-de-boletos']" class="hover text-gray text-hover display-block padding-10 no-mrg-btm">
                            <i class="fa fa-chevron-left text-info pdd-right-5"></i>
                            <b>Voltar</b>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a (click)="downloadFile()" class="hover text-gray text-hover display-block padding-10 no-mrg-btm">
                            <i class="fa fa-cloud-download text-success pdd-right-5"></i>
                            <b>Baixar Recibo</b>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a (click)="exportAsPDF()" href="javascript: void(0)" class="hover btn text-gray text-hover display-block padding-10 no-mrg-btm">
                            <i class="ti-printer text-info pdd-right-5"></i>
                            <b>Imprimir</b>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <!--<object id="recibo" #recibo name="recibo" [data]="this.resource" >
                  <embed [src]="this.resource" class="iframe" height="1350"/>
                </object>-->
                <iframe id="recibo" #recibo name="recibo" type="application/pdf" [src]="this.resource"  width="100%" height="1350" scrolling="false" frameborder="0" class="iframe"></iframe>
            </div>
        </div>
    </div>
</div>

