<div class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a class="side-nav-toggle" href="javascript:void(0);" title="Clique aqui para mudar o apresentação do Menu">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="user-profile dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="profile-img img-fluid" src="assets/images/no_picture.png" alt="">
                    <div class="user-info">
                        <span class="name pdd-right-5">{{account.NomeCompleto | titlecase}}</span>
                        <i class="ti-angle-down font-size-10"></i>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/perfil']" [hidden]="!this.permissionService.isLocatario() && !this.permissionService.isCondomino() && !this.permissionService.isProprietario()">
                            <i class="ti-user pdd-right-10"></i>
                            <span>Meu Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/mensagens']">
                            <i class="ti-email pdd-right-10"></i>
                            <span>Mensagens</span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript: void(0)" (click)="logout()">
                            <i class="ti-power-off pdd-right-10"></i>
                            <span>Sair</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="notifications dropdown">
                <span class="counter">{{this.avisos.length}}</span>
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-bell"></i>
                </a>

                <ul class="dropdown-menu" *ngIf="this.avisos.length > 0">
                    <li class="notice-header">
                        <i class="ti-bell pdd-right-10"></i>
                        <span>Avisos</span>
                    </li>
                    <li>
                        <ul class="list-info overflow-y-auto relative scrollable">
                            <li *ngFor="let aviso of avisos">
                                <a href="">
                                    <span class="thumb-img bg-info">
                                        <span class="text-white">
                                            <i class="ti-user"></i>
                                        </span>
                                    </span>
                                    <div class="info">
                                        <span class="title">
                                            <span class="font-size-14 text-semibold">
                                                <span *ngIf='aviso.condomino != ""'> {{aviso.condomino}} </span>
                                                <span *ngIf='aviso.condominio != "" && aviso.condomino == ""'> Síndico
                                                </span>
                                                <span *ngIf='aviso.condominio == "" && aviso.condomino == ""'> BCF
                                                    Administradora de Bens </span>
                                            </span>
                                            <span class="text-gray">
                                                {{aviso.mensagem}}
                                            </span>
                                        </span>
                                        <span class="sub-title">{{aviso.data_inclusao}}</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="notice-footer">
                        <span>
                            <a href="" class="text-gray">Ver todas as notificações
                                <i class="ei-right-chevron pdd-left-5 font-size-10"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </li>
            <!--<li>
              <a class="side-panel-toggle" href="javascript:void(0);">
                  <i class="ti-align-right"></i>
              </a>
          </li>-->
        </ul>
    </div>
</div>