.main-content {
    position: relative;
}

.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(255, 250, 250, 0.85);
    
    .spinner__title {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 55px;
        margin-left: -65px;
        width: 125px;
        height: 125px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #274777;
    }

    .spinner-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -75px;
        margin-left: -75px;
        width: 125px;
        height: 125px;
    }
}